@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
}

.mediation-panel-wrapper {
  @include common.flex-column;
  background: var(--md-sys-color-secondary-container);
  border-radius: common.$spacing-medium;
  gap: common.$spacing-large;
  padding: common.$spacing-large;
}

.mediation-panel {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-large;
  height: common.$chat-height;
  overflow: auto;
  padding: common.$spacing-large 0;
}

.mediation-input {
  align-items: center;
  border: 1px solid var(--md-sys-color-on-secondary-container);
  border-radius: 28px;
  box-sizing: border-box;
  display: flex;
  gap: common.$spacing-small;
  padding: common.$spacing-large common.$spacing-xl common.$spacing-large
    common.$spacing-xxl;
  width: 100%;

  pr-textarea {
    flex-grow: 1;
  }
}