@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-xl;
  padding: common.$main-content-padding;
  width: 100%;

  display: flex;
  align-items: center;
}

h1 {
  @include typescale.title-large;
  margin: 0;
}

.main {
  @include common.flex-column;
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-medium;
  gap: common.$spacing-xxl;
  max-width: 500px;
  padding: common.$spacing-xxl;
  width: 100%;
}

.action-buttons {
  @include common.flex-row;
  justify-content: center;
}