@use '../sass/colors';
@use '../sass/common';
@use '../sass/typescale';

:host {
  @include common.flex-column;
  align-items: end;
}

.button-content {
  @include common.flex-row-align-center;
  flex-wrap: wrap;
  gap: common.$spacing-small;
}

.menu-wrapper {
  @include common.flex-column;
  align-items: end;
  height: 0;
  overflow: hidden;
  width: 0;
  z-index: 30;

  &.show-menu {
    overflow: visible;
  }
}

.menu {
  @include common.flex-column-align-center;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  box-shadow: var(--md-sys-color-box-shadow-3);
  color: var(--md-sys-color-on-surface);
  margin-top: common.$spacing-small;
  max-height: calc(100vh - 200px);
  max-width: calc(min(400px, 100vw - 200px));
  padding: common.$spacing-medium;
  width: max-content;
}
