@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  flex-grow: 1;
  overflow: auto;
}

.inner-wrapper {
  @include common.flex-column;
  gap: common.$spacing-xxl;
  max-width: common.$info-content-max-width;
  padding: common.$main-content-padding;
  padding-bottom: calc(common.$main-content-padding * 2);
}

.section {
  @include common.flex-column;
  gap: common.$spacing-large;
}

.title {
  @include typescale.title-medium;
  color: var(--md-sys-color-secondary);
}

.description {
  color: var(--md-sys-color-outline);
  font-style: italic;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.spacer {
  height: common.$spacing-xxl;
}

pr-textarea {
  width: 100%;
}

.checkbox-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
  overflow-wrap: break-word;

  md-checkbox {
    flex-shrink: 0;
  }
}

.config-item {
  @include common.flex-column;
  gap: common.$spacing-small;
}

.number-input {
  @include common.number-input;
  /* width of checkbox plus gap */
  margin-left: calc(48px + common.$spacing-medium);
  width: max-content;
}

.inner-setting {
  @include common.flex-column;
  gap: common.$spacing-large;
  /* width of checkbox plus gap */
  margin-left: calc(48px + common.$spacing-medium);
}

.required {
  color: var(--md-sys-color-error);
}
