@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  flex-grow: 1;
  overflow: auto;
}

a {
  color: var(--md-sys-color-primary);
  text-decoration: underline;
}

p {
  margin: 0;
}

.inner-wrapper {
  @include common.flex-column;
  gap: common.$spacing-xxl;
  max-width: common.$info-content-max-width;
  padding: common.$main-content-padding;
  padding-bottom: calc(common.$main-content-padding * 2);
}

.section {
  @include common.flex-column;
  gap: common.$spacing-large;
}

.title {
  @include typescale.title-medium;
  color: var(--md-sys-color-secondary);
}

.description {
  color: var(--md-sys-color-outline);
  font-style: italic;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.spacer {
  height: common.$spacing-xxl;
}

pr-textarea {
  width: 100%;
}

pr-button {
  width: max-content;
}

.checkbox-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
  overflow-wrap: break-word;

  md-checkbox {
    flex-shrink: 0;
  }
}

.config-item {
  @include common.flex-column;
  gap: common.$spacing-small;
}

.inner-setting {
  @include common.flex-column;
  gap: common.$spacing-large;
  /* width of checkbox plus gap */
  margin-left: calc(48px + common.$spacing-medium);
}

.required {
  color: var(--md-sys-color-error);
}

.conditional-section {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: common.$spacing-medium;
}

.variable-wrapper {
  @include common.flex-column;
  gap: common.$spacing-small;
}

.variable {
  @include common.flex-column;
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-medium;
  gap: common.$spacing-medium;
  padding: common.$spacing-xl;
}

.label {
  @include typescale.label-small;
  color: var(--md-sys-color-outline);
}

.select-field {
  @include typescale.label-small;
  @include common.flex-column;
  gap: common.$spacing-small;
}

select {
  @include common.select;
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-medium;
  color: var(--md-sys-color-on-surface-variant);
}
