@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-row;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

.panel-wrapper {
  @include common.flex-row;
  border-right: 3px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  height: 100%;
  overflow: auto;
  width: common.$sidenav-width;
}

.panel-view {
  @include common.flex-column;
  color: var(--md-sys-color-outline);
  flex-grow: 1;
  overflow: auto;

  .top {
    @include common.flex-column;
    gap: common.$spacing-large;
    padding: common.$sidenav-padding;
  }

  .bottom {
    @include common.flex-column;
    gap: common.$spacing-large;
    margin-bottom: 0;
    margin-top: auto;
    padding: common.$sidenav-padding;
    padding-bottom: calc(common.$spacing-xxl * 2);
  }
}

.panel-view-header {
  @include common.flex-row-align-center;
  @include typescale.label-small;
  color: var(--md-sys-color-outline);
  flex-shrink: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar {
  @include common.flex-column-align-center;
  border-right: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-medium;
  overflow: auto;
  padding: common.$sidenav-padding;
  width: common.$sidenav-closed-width;
}

.experiment-builder {
  @include common.flex-column;
  flex-grow: 1;
  max-height: calc(100vh - common.$header-height);
  overflow: auto;
}

.header {
  @include common.flex-row-align-center;
  @include typescale.title-large;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-medium;
  height: common.$header-height;
  justify-content: space-between;
  padding: 0 common.$main-content-padding;

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}

.content {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-xxl;
  max-width: common.$info-content-max-width;
  padding: common.$main-content-padding;
  padding-bottom: calc(common.$main-content-padding * 2);
}

.chip {
  @include typescale.label-medium;
  @include common.chip;
  padding: common.$spacing-small common.$spacing-medium;
}

pr-button pr-icon {
  margin-right: common.$spacing-medium;
}

.banner {
  @include typescale.label-small;
  @include common.flex-column;
  gap: common.$spacing-small;
  padding: common.$spacing-medium;

  &.warning {
    background: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
  }

  p {
    margin: 0;
  }
}

// Agent nav styles
// TODO: Refactor agent nav into separate component
.agent-item {
  @include common.flex-column;
  border-radius: common.$spacing-medium;
  cursor: pointer;
  gap: common.$spacing-small;
  padding: common.$spacing-medium;

  &:focus,
  &:hover {
    background: var(--md-sys-color-surface-variant);
  }

  &.current,
  &.current:focus,
  &.current:hover {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    cursor: initial;
  }
}

.subtitle {
  @include typescale.label-small;
}
