@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  border-right: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  max-height: calc(100vh - common.$header-height);
  overflow: auto;
  width: common.$sidenav-width;
}

.nav-items-wrapper {
  @include common.flex-column;
  flex-shrink: 0;
  gap: common.$spacing-medium;
  padding: common.$sidenav-padding;
}

.nav-item-wrapper {
  @include common.flex-row;
  gap: common.$spacing-small;
}

.nav-item {
  @include common.nav-item;
  border-radius: common.$spacing-medium;
}

.buttons {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
}

.header {
  background: var(--md-sys-color-surface);
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  height: common.$header-height;
  padding: 0 common.$sidenav-padding;
  position: sticky;
  top: 0;
  z-index: 10;
}

.primary {
  @include typescale.label-medium;
  color: var(--md-sys-color-primary);
}
