@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-row-align-center;
  background: rgba(0, 0, 0, .75);
  bottom: 0;
  justify-content: center;
  left: 0;
  padding: calc(common.$main-content-padding * 2);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2; // above app header
}

.dialog {
  @include common.flex-column;
  background: var(--md-sys-color-surface);
  border: 2px solid var(--md-sys-color-outline);
  border-radius: common.$spacing-medium;
  box-shadow: var(--md-sys-color-box-shadow-3);
  color: var(--md-sys-color-on-surface);
  height: 600px;
  max-height: 100%;
  max-width: 100%;
  width: 800px;
}

.header {
  @include typescale.title-medium;
  @include common.flex-row-align-center;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-medium;
  height: common.$header-height;
  justify-content: space-between;
  padding: 0 common.$main-content-padding;
}

.body {
  flex-grow: 1;
  overflow: auto;
  padding: common.$main-content-padding;
}

.card-gallery-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-large;
}

.card {
  @include common.flex-column;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: common.$spacing-medium;
  cursor: pointer;
  gap: common.$spacing-medium;
  padding: common.$spacing-large;
  width: 240px;
  word-break: word-break;

  &:focus,
  &:hover {
    background: var(--md-sys-color-surface-variant);
  }

  .title {
    @include typescale.title-small;
  }
}
