@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  background: var(--md-sys-color-surface-variant);
  border-top: 1px solid var(--md-sys-color-outline-variant);
  bottom: 0;
  padding-bottom: common.$spacing-xl;
  position: sticky;
}

.footer {
  @include common.flex-row-align-center;
  gap: common.$spacing-large;
  height: common.$footer-height;
  justify-content: space-between;

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}