@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
}

.cohort-summary {
  @include common.flex-column;
  border-bottom: 2px solid var(--md-sys-color-outline-variant);
}

.header {
  @include typescale.title-medium;
  @include common.flex-row;
  background: var(--md-sys-color-surface-container-high);
  cursor: pointer;
  gap: common.$spacing-medium;
  justify-content: space-between;
  padding: common.$spacing-medium common.$spacing-large;

  &:focus,
  &:hover {
    background: var(--md-sys-color-surface-container-highest);
  }

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-xs;
  }
}

.header-details {
  @include common.flex-column;
  gap: common.$spacing-small;

  .top,
  .bottom {
    @include common.flex-row-align-center;
    gap: common.$spacing-xs;
  }
}

.subtitle {
  @include typescale.label-medium;
  color: var(--md-sys-color-outline);
}

.description {
  @include typescale.body-small;
  color: var(--md-sys-color-outline);
  background: var(--md-sys-color-surface-container-high);
  font-style: italic;
  padding: 0 common.$spacing-large common.$spacing-medium;
}

.body {
  @include common.flex-column;
  overflow: auto;
  max-height: 220px;
}

.empty-message {
  color: var(--md-sys-color-outline);
  padding: common.$spacing-large;
}

.menu-wrapper {
  @include typescale.label-medium;
  @include common.flex-column;
  gap: common.$spacing-medium;
  overflow: auto;
}

.menu-item {
  @include common.nav-item;
  @include common.flex-column;
  align-items: start;
  border-radius: common.$spacing-medium;
  gap: common.$spacing-small;
  padding: common.$spacing-medium;
}
