@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  flex-grow: 1;
  overflow: auto;
}

.experiment-manager {
  @include common.flex-column;
  flex-grow: 1;
  overflow: auto;
}

.checkbox-wrapper {
  @include typescale.body-small;
  @include common.flex-row-align-center;
  color: var(--md-sys-color-outline);
  cursor: pointer;
  gap: common.$spacing-xs;
  overflow-wrap: break-word;

  &:focus,
  &:hover {
    color: var(--md-sys-color-secondary);
  }
}

.header {
  @include common.flex-row-align-center;
  @include typescale.title-medium;
  border-bottom: 2px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-medium;
  height: common.$header-height;
  padding: 0 common.$main-content-padding;
  position: relative;
  z-index: 10;

  .left {
    @include common.flex-row-align-center;
    flex: 1;
    gap: common.$spacing-medium;
    min-width: 0;
  }

  .right {
    @include common.flex-row-align-center;
    flex-shrink: 0;
    gap: common.$spacing-medium;
  }
}

small {
  @include typescale.title-small;
  color: var(--md-sys-color-outline);
}

.content {
  @include common.flex-column;
  flex-grow: 1;
  overflow: auto;
}

.empty-message {
  @include common.flex-column;
  color: var(--md-sys-color-outline);
  gap: common.$spacing-medium;
  padding: common.$main-content-padding;
}
