@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  flex-grow: 1;
  overflow: auto;
}

.experiment-manager {
  @include common.flex-column;
  flex-grow: 1;
  overflow: auto;
}

.header {
  @include common.flex-row-align-center;
  @include typescale.title-medium;
  border-bottom: 2px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-medium;
  height: common.$header-height;
  justify-content: space-between;
  padding: 0 common.$main-content-padding;

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}

small {
  @include typescale.title-small;
  color: var(--md-sys-color-outline);
}

.content {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-xl;
  overflow: auto;
}

.empty-message {
  @include common.flex-column;
  color: var(--md-sys-color-outline);
  gap: common.$spacing-medium;
  padding: common.$main-content-padding;
}

.table-wrapper {
  @include common.flex-column;
  gap: common.$spacing-medium;
  padding: 0 common.$main-content-padding;
}

.table-header {
  @include typescale.title-medium;
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
  justify-content: space-between;
}

.table-body {
  @include common.flex-column;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: common.$spacing-medium;
  overflow: hidden;
}

.table-row {
  @include common.flex-row-align-center;
  border-top: 1px solid var(--md-sys-color-outline-variant);
  gap: common.$spacing-small;
  min-height: 35px;
  padding: common.$spacing-xs common.$spacing-large;

  &:first-of-type {
    border-top: none;
  }
}

.select-field {
  @include common.flex-column;
  gap: common.$spacing-small;
}

select {
  @include common.select;
  @include typescale.title-medium;
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-small;
  color: var(--md-sys-color-on-surface-variant);
}

.content-banner {
  @include common.flex-row-align-center;
  @include typescale.label-medium;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  gap: common.$spacing-small;
  padding: common.$spacing-medium;
}

.back-button {
  @include common.flex-row-align-center;
  color: var(--md-sys-color-outline);
  cursor: pointer;

  &:focus,
  &:hover {
    color: var(--md-sys-color-secondary);
  }
}

.content-header {
  @include common.flex-row-align-center;
  @include typescale.title-large;
  gap: common.$spacing-medium;
  justify-content: space-between;
  padding: common.$main-content-padding common.$main-content-padding 0;
}

.toolbar {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
}

.subtitle {
  @include typescale.label-medium;
  color: var(--md-sys-color-outline);
}

.chip {
  @include common.chip;
  @include typescale.label-small;
}

pre {
  background: var(--md-sys-color-surface-variant);
}

code {
  color: var(--md-sys-color-outline);
  font-size: 85%;
  overflow: auto;
  word-break: break-all;
}
