@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
}

.cohort-summary {
  @include common.flex-column;
  border-bottom: 2px solid var(--md-sys-color-outline-variant);
}

.header {
  @include typescale.title-medium;
  @include common.flex-row;
  background: var(--md-sys-color-surface-container-high);
  cursor: pointer;
  gap: common.$spacing-medium;
  justify-content: space-between;
  padding: common.$spacing-medium common.$spacing-large;
  position: relative;

  &:focus,
  &:hover {
    background: var(--md-sys-color-surface-container-highest);
  }

  .left {
    @include common.flex-row-align-center;
    flex: 1;
    gap: common.$spacing-xs;
    min-width: 0;
  }

  .right {
    @include common.flex-row-align-center;
    flex-shrink: 0;
    gap: common.$spacing-xs;
  }
}

.header-details {
  @include common.flex-column;
  gap: common.$spacing-small;

  .top,
  .bottom {
    @include common.flex-row-align-center;
    gap: common.$spacing-xs;
  }
}

.subtitle {
  @include typescale.label-medium;
  color: var(--md-sys-color-outline);
}

.description {
  @include typescale.body-small;
  color: var(--md-sys-color-outline);
  background: var(--md-sys-color-surface-container-high);
  font-style: italic;
  padding: 0 common.$spacing-large common.$spacing-medium;
}

.body {
  @include common.flex-column;
  overflow: auto;
  max-height: 220px;
}

.section {
  @include common.flex-column;
  gap: common.$spacing-small;
  padding: common.$spacing-medium common.$spacing-large;
}

.section-title {
  @include typescale.label-small;
  @include common.flex-row-align-center;
  border-top: 1px solid var(--md-sys-color-outline-variant-high);
  color: var(--md-sys-color-on-surface-variant);
  justify-content: space-between;
  padding: 0 common.$spacing-large;
}

.section-list {
  @include common.flex-column;
  gap: common.$spacing-small;
}

.empty-message {
  color: var(--md-sys-color-outline);
  padding: common.$spacing-large;
}

.empty-subsection {
  color: var(--md-sys-color-outline);
  font-style: italic;
}

.mediator-list {
  gap: common.$spacing-small;
}

.mediator-row {
  @include typescale.label-medium;
  @include common.flex-row-align-center;
  border-top: 1px solid var(--md-sys-color-outline-variant-high);
  justify-content: space-between;
  gap: common.$spacing-medium;
  padding: common.$spacing-xs common.$spacing-large;

  &:focus,
  &:hover {
    background: var(--md-sys-color-surface-container);
  }
}

.status-chip {
  @include common.chip;
  background: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.menu-wrapper {
  @include typescale.label-medium;
  @include common.flex-column;
  gap: common.$spacing-medium;
  overflow: auto;
}

.menu-item {
  @include common.nav-item;
  @include common.flex-column;
  align-items: start;
  border-radius: common.$spacing-medium;
  gap: common.$spacing-small;
  padding: common.$spacing-medium;
}

.menu-item.disabled {
  color: var(--md-sys-color-outline);
  pointer-events: none;
}

.menu-item-helper {
  @include typescale.body-small;
  color: var(--md-sys-color-outline);
}

.sort-controls {
  transform: scale(0.8);
  transform-origin: right center;

  pr-menu {
    --pr-menu-icon-color: var(--md-sys-color-on-surface-variant);
  }
}
