@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-row;
  flex-grow: 1;
  width: 100%;
}

.editor-wrapper {
  @include common.flex-column;
  flex-grow: 1;
}

.main-panel {
  border-right: 2px solid var(--md-sys-color-outline);
  flex-shrink: 0;
  height: 100vh;
  width: 550px;
}

.cohort-panel {
  @include common.flex-column;
  border-right: 2px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  max-height: 100vh;
  overflow: auto;
  width: calc(min(60%, 500px));

  .warning {
    padding: common.$spacing-large;
  }
}

.experiment-manager,
.preview-panel {
  @include common.flex-column;
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}

.stats-panel {
  @include common.flex-column;
  flex-grow: 0;
  height: 100vh;
  overflow: auto;
}

experimenter-panel {
  height: calc(100vh - common.$header-height);
}

participant-view {
  opacity: 0.8;
  overflow: auto;

  &.sepia {
    filter: sepia(80%);
  }
}

.header {
  @include common.flex-row-align-center;
  @include typescale.title-medium;
  background: var(--md-sys-color-surface);
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-medium;
  height: common.$header-height;
  justify-content: space-between;
  padding: 0 common.$main-content-padding;
  position: sticky;
  top: 0;
  z-index: 1;

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}

.participant-status-banner {
  @include typescale.label-small;
  background: var(--md-sys-color-error-container);
  border-radius: common.$spacing-small;
  color: var(--md-sys-color-on-error-container);
  max-width: 400px;
  padding: common.$spacing-small;
}

.content {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-xxl;
  overflow: auto;
  padding: common.$main-content-padding;
  word-break: break-all;
}

.empty-message {
  color: var(--md-sys-color-outline);
  padding: common.$main-content-padding;
}

.content-wrapper {
  padding: common.$spacing-xxl;
}

.menu-wrapper {
  @include typescale.label-medium;
  @include common.flex-column;
  gap: common.$spacing-medium;
  overflow: auto;
}

.menu-item {
  @include common.nav-item;
  @include common.flex-column;
  align-items: start;
  border-radius: common.$spacing-medium;
  gap: common.$spacing-small;
}

.subtitle {
  @include typescale.label-small;
  color: var(--md-sys-color-outline);
}

code {
  color: var(--md-sys-color-outline);
  word-break: break-all;
}

.toggle-slider {
  display: flex;
  @include typescale.label-medium;
  border-radius: common.$spacing-large;
  overflow: hidden;
  background-color: var(--md-sys-color-secondary-container);
  width: fit-content;
  cursor: pointer;
}

.toggle-option {
  padding: 0.5em 1em;
  text-align: center;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-radius 0.2s;
}

/* Active state for left (Details) */
.toggle-option.active:not(:last-child) {
  border: 1px solid var(--md-sys-color-on-primary-container);
  border-radius: common.$spacing-large 0 0 common.$spacing-large;
  /* Rounded on the left */
  background-color: var(--md-sys-color-primary-container);
}

/* Active state for right (Preview) */
.toggle-option.active:last-child {
  border: 1px solid var(--md-sys-color-on-primary-container);
  border-radius: 0 common.$spacing-large common.$spacing-large 0;
  /* Rounded on the right */
  background-color: var(--md-sys-color-primary-container);
}
