@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  flex-grow: 1;
  height: calc(100vh - common.$header-height);
  overflow: auto;
  width: 100%;
}

.header {
  @include common.flex-row-align-center;
  @include typescale.title-medium;
  background: var(--md-sys-color-surface);
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-medium;
  height: common.$header-height;
  justify-content: space-between;
  padding: 0 common.$main-content-padding;
  position: sticky;
  top: 0;
  z-index: 1;

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}

.empty-message {
  color: var(--md-sys-color-outline);
  padding: common.$main-content-padding;
}

.subtitle {
  @include typescale.label-small;
  color: var(--md-sys-color-outline);
}

.log {
  @include common.flex-column;
  border-bottom: 2px solid var(--md-sys-color-outline-variant);
  gap: common.$spacing-small;
  padding: common.$spacing-xl;
}

.log-header {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-small;
}

.chip {
  @include common.chip;
  width: max-content;
}

pre {
  background: var(--md-sys-color-surface-variant);
  overflow: auto;
  padding: common.$spacing-large;
}

code {
  font-size: 90%;
  word-break: break-all;
  word-wrap: wrap;
}
