@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  gap: common.$spacing-large;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

h3,
h4 {
  margin: 0;
  padding: 0 common.$spacing-large;
}

.table {
  @include common.table;

  .table-cell.small {
    width: 120px;
  }
}

.chip-container {
  @include common.flex-column;
  gap: common.$spacing-medium;
  padding: common.$spacing-large;
}

.chip {
  @include typescale.label-medium;
  @include common.chip;
  width: max-content;
}

.table-wrapper,
.stats-wrapper {
  padding: 0 common.$spacing-large;
}
