@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
}

.participant-summary {
  @include typescale.label-medium;
  @include common.flex-row-align-center;
  border-top: 1px solid var(--md-sys-color-outline-variant-high);
  cursor: pointer;
  justify-content: space-between;
  overflow: hidden;
  padding: common.$spacing-xs common.$spacing-large;

  &:focus,
  &:hover {
    background: var(--md-sys-color-surface-container);
  }

  &.selected {
    background: var(--md-sys-color-primary-container-low);
  }

  &.old {
    opacity: 0.5;
  }

  .left {
    @include common.flex-row-align-center;
    flex: 1;
    flex-wrap: wrap;
    gap: common.$spacing-medium;
    min-width: 0;
  }
}

.buttons {
  @include common.flex-row-align-center;
  flex-shrink: 0;
  gap: common.$spacing-small;
}

.chip {
  @include typescale.label-small;
  @include common.chip;
  border-radius: common.$spacing-small;
}
