<div class="main">
  <form [formGroup]="profileFormControl">
    <p>Please set up your profile. These characteristics will be used to refer to you throughout the task, and will be seen by other users.</p>

    <h3>
      <br />
      Name:
    </h3>

    <mat-form-field class="full-width">
      <mat-label>My Name</mat-label>
      <input matInput placeholder="Write your response" formControlName="name" />
    </mat-form-field>

    <h3>Preferred pronouns:</h3>

    <mat-radio-group class="pronouns-radio-group" formControlName="pronouns">
      <mat-radio-button class="pronouns-radio-button" value="{{ Pronouns.SheHer }}">{{
        Pronouns.SheHer
      }}</mat-radio-button>
      <mat-radio-button class="pronouns-radio-button" value="{{ Pronouns.TheyThem }}">{{
        Pronouns.TheyThem
      }}</mat-radio-button>
      <mat-radio-button class="pronouns-radio-button" value="{{ Pronouns.HeHim }}">{{
        Pronouns.HeHim
      }}</mat-radio-button>
    </mat-radio-group>

    <span
      >Other:
      <mat-form-field class="full-width">
        <mat-label>My Pronouns</mat-label>
        <input
          matInput
          placeholder="Write your response"
          [value]="value"
          (input)="updateOtherPronounsValue($event)"
        /> </mat-form-field
    ></span>

    <div class="avatar-container">
      <h3>Avatar:</h3>
      <mat-radio-group class="avatar-radio-group" formControlName="avatarUrl">
        <mat-radio-button class="avatar-radio-button" value="/assets/avatars/she.png">
          <img src="/assets/avatars/she.png" alt="Avatar Female" width="72" height="77" />
        </mat-radio-button>
        <mat-radio-button class="avatar-radio-button" value="/assets/avatars/they.png">
          <img src="/assets/avatars/they.png" alt="Avatar Neutral" width="72" height="77" />
        </mat-radio-button>
        <mat-radio-button class="avatar-radio-button" value="/assets/avatars/he.png">
          <img src="/assets/avatars/he.png" alt="Avatar Male" width="72" height="77" />
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
  <button color="primary" [disabled]="!profileFormControl.valid" (click)="nextStep()" mat-button>
    Next step
  </button>
</div>
