@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  gap: common.$spacing-xl;
  padding: common.$spacing-xxl;
}

.title {
  @include typescale.title-large;
}

h2 {
  @include common.flex-row-align-center;
  @include typescale.title-medium;
  color: var(--md-sys-color-primary);
  gap: common.$spacing-medium;
  margin: 0;

  &.secondary {
    color: var(--md-sys-color-secondary);
  }

  &.tertiary {
    color: var(--md-sys-color-tertiary);
  }
}

.note {
  color: var(--md-sys-color-outline);
}

.chip {
  @include common.chip;
}

.divider {
  border-top: 1px solid var(--md-sys-color-outline-variant);
}

.status {
  @include common.flex-column;
  gap: common.$spacing-xl;
  width: 100%;
}

.participants-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
}