<div class="main">
  @if (participantService.viewingStage() === undefined) {
    Loading...
  } @else {
    <h2>
      {{ participantService.viewingStage()!.config().name }}
    </h2>
    <div class="exp-stage-content">
      @if (
        participantService.viewingStage()!.config().name !== participantService.workingOnStageName()
      ) {
        <div class="mask">
          <!-- TODO: should probably disable editing in individual stage components as well -->
        </div>
      }
    </div>
  }
  <!-- Define this container outside any @if condition to ensure that it is available in ngAfterViewInit -->
  <ng-container #stagesContainer></ng-container>
</div>
