<div class="main">
  <h2>{{ this.participant.viewingStage()?.name }} ({{ this.participant.viewingStage()?.kind }})</h2>
  <div class="exp-stage-content">
    @switch (this.participant.viewingStage()?.kind) {
      @case (StageKind.acceptTosAndSetProfile) {
        <app-exp-tos-and-profile></app-exp-tos-and-profile>
      }
      @case (StageKind.groupChat) {
        <app-exp-chat></app-exp-chat>
      }
      @case (StageKind.takeSurvey) {
        <app-exp-survey></app-exp-survey>
      }
      @case (StageKind.voteForLeader) {
        <app-exp-leader-vote></app-exp-leader-vote>
      }
      @case (StageKind.revealVoted) {
        <app-exp-leader-reveal></app-exp-leader-reveal>
      }
      @default {
        <div class="error">
          Oh no! It looks like something went wrong, there is no component for
          <span>{{ this.participant.viewingStage()?.kind }}</span>
        </div>
      }
    }

    @if (this.participant.viewingStage()?.name !== this.participant.workingOnStage()?.name) {
      <div class="mask">
        <!-- TODO: should probably disable editing in individual stage components as well -->
      </div>
    }
  </div>
</div>
