<div class="toolbar" role="banner">
  <span class="title">Palabrate</span>
  <div class="spacer"></div>
  @if (authService.credential(); as creds) {
    <div>
      <img class="profileImg" [src]="creds.picture" alt="profile picture" />
    </div>
  } @else {
    <div #googleButton></div>
  }
  <a class="small-logo" aria-label="PAIR" href="https://pair.withgoogle.com/" title="Home">
    <img src="/assets/pair-logo.svg" alt="PAIR logo" />
  </a>
</div>

<div class="content" role="main">
  @if (error) {
    <div class="error">{{ error }}</div>
  }
  @if (authService.credential(); as creds) {
    <div>
      <p>
        You are logged in as an experiment, you can
        <a routerLink="experimenter">view experiments</a> or
        <a routerLink="experimenter/create-experiment">create a new one</a>
      </p>
    </div>
  }

  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="loginPalabrate()">
        <p>To join an experiment, enter your access code:</p>
        <mat-form-field class="full-width">
          <mat-label>Access code</mat-label>
          <input
            matInput
            #accessCodeInput
            placeholder="Write your response"
            [formControl]="login"
          />
        </mat-form-field>
        <br />
        <button
          color="primary"
          type="submit"
          mat-button
          [disabled]="!login.valid || loginMut.isPending()"
        >
          <span>Join the experiment</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
