@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  height: min-content;
  width: min-content;
}

.avatar {
  @include common.flex-row-align-center;
  @include typescale.title-large;
  aspect-ratio: 1 / 1;
  background: var(--md-sys-color-outline-variant);
  border-radius: 100%;
  height: calc(common.$spacing-xxl * 1.5);
  justify-content: center;
  overflow: hidden;

  &.square {
    border-radius: common.$spacing-small;
  }

  &.man {
    background: var(--md-sys-color-avatar-man);
  }

  &.woman {
    background: var(--md-sys-color-avatar-woman);
  }

  &.person {
    background: var(--md-sys-color-avatar-person);
  }

  &.selected {
    border: 2px solid var(--md-sys-color-outline);
  }
}