@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.overlay;
  position: fixed;
  z-index: 1000;
}

.dialog {
  @include common.dialog;
  height: 80vh;
  width: 80vw;
  max-width: 1200px;
  max-height: 900px;
  display: flex;
  flex-direction: column;
}

.header {
  @include typescale.title-medium;
  @include common.flex-row-align-center;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-medium;
  height: common.$header-height;
  justify-content: space-between;
  padding: 0 common.$main-content-padding;
}

.body {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

template-gallery {
  flex-grow: 1;
  overflow: auto;
  padding: common.$main-content-padding;
}
