@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  height: min-content;
  width: min-content;
}

.avatar {
  @include common.flex-row-align-center;
  @include typescale.title-large;
  aspect-ratio: 1 / 1;
  background: var(--md-sys-color-outline-variant);
  border-radius: 100%;
  height: calc(common.$spacing-xxl * 1.5);
  justify-content: center;
  overflow: hidden;
  user-select: none;

  &.disabled {
    opacity:.3; 
  }

  &.small {
    @include typescale.title-small;
    height: common.$spacing-xxl;
  }

  &.square {
    border-radius: common.$spacing-small;
  }

  &.red {
    background: var(--md-sys-color-avatar-red);
  }

  &.orange {
    background: var(--md-sys-color-avatar-orange);
  }

  &.yellow {
    background: var(--md-sys-color-avatar-yellow);
  }

  &.green {
    background: var(--md-sys-color-avatar-green);
  }

  &.blue {
    background: var(--md-sys-color-avatar-blue);
  }

  &.purple {
    background: var(--md-sys-color-avatar-purple);
  }

  &.pink {
    background: var(--md-sys-color-avatar-pink);
  }

  &.selected {
    border: 2px solid var(--md-sys-color-outline);
  }
}
