/* Global colors (not specific to palette). */
@mixin global {
  /* avatars */
  --md-sys-color-avatar-red: #ffb3ae; // red80
  --md-sys-color-avatar-orange: #ffb683; // orange80
  --md-sys-color-avatar-yellow: #fde293; // yellow200
  --md-sys-color-avatar-green: #a8dab5; // green200
  --md-sys-color-avatar-blue: #aecbfa; // blue200
  --md-sys-color-avatar-purple: #d7aefb; // purple200
  --md-sys-color-avatar-pink: #fba9d6; // pink200
  /* status */
  --md-sys-color-progress: #fde293; // yellow200
  --md-sys-color-success: #a8dab5; // green200
}

/* Kamino reference definitions. */
@mixin kamino-ref {
  --md-source: #365abc;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #000b2f;
  --md-ref-palette-primary5: #000d35;
  --md-ref-palette-primary6: #00103a;
  --md-ref-palette-primary10: #00174c;
  --md-ref-palette-primary12: #001a55;
  --md-ref-palette-primary17: #00246b;
  --md-ref-palette-primary20: #002979;
  --md-ref-palette-primary22: #002d83;
  --md-ref-palette-primary24: #00318c;
  --md-ref-palette-primary25: #003391;
  --md-ref-palette-primary30: #133fa1;
  --md-ref-palette-primary35: #254bad;
  --md-ref-palette-primary40: #3458ba;
  --md-ref-palette-primary50: #4f72d5;
  --md-ref-palette-primary60: #6b8cf1;
  --md-ref-palette-primary70: #8da8ff;
  --md-ref-palette-primary80: #b4c5ff;
  --md-ref-palette-primary87: #d0d9ff;
  --md-ref-palette-primary90: #dbe1ff;
  --md-ref-palette-primary92: #e3e7ff;
  --md-ref-palette-primary94: #ebedff;
  --md-ref-palette-primary95: #eff0ff;
  --md-ref-palette-primary96: #f2f3ff;
  --md-ref-palette-primary98: #faf8ff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #080d1e;
  --md-ref-palette-secondary5: #0b1021;
  --md-ref-palette-secondary6: #0d1323;
  --md-ref-palette-secondary10: #161b2c;
  --md-ref-palette-secondary12: #1a1f30;
  --md-ref-palette-secondary17: #24293b;
  --md-ref-palette-secondary20: #2b3042;
  --md-ref-palette-secondary22: #2f3446;
  --md-ref-palette-secondary24: #33394b;
  --md-ref-palette-secondary25: #363b4d;
  --md-ref-palette-secondary30: #414659;
  --md-ref-palette-secondary35: #4d5265;
  --md-ref-palette-secondary40: #595e72;
  --md-ref-palette-secondary50: #71768b;
  --md-ref-palette-secondary60: #8b90a5;
  --md-ref-palette-secondary70: #a6aac1;
  --md-ref-palette-secondary80: #c1c5dd;
  --md-ref-palette-secondary87: #d5d9f1;
  --md-ref-palette-secondary90: #dde1f9;
  --md-ref-palette-secondary92: #e3e7ff;
  --md-ref-palette-secondary94: #ebedff;
  --md-ref-palette-secondary95: #eff0ff;
  --md-ref-palette-secondary96: #f2f3ff;
  --md-ref-palette-secondary98: #faf8ff;
  --md-ref-palette-secondary99: #fefbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #1c051c;
  --md-ref-palette-tertiary5: #1f071f;
  --md-ref-palette-tertiary6: #220a22;
  --md-ref-palette-tertiary10: #2b122a;
  --md-ref-palette-tertiary12: #30162f;
  --md-ref-palette-tertiary17: #3b213a;
  --md-ref-palette-tertiary20: #422740;
  --md-ref-palette-tertiary22: #472b45;
  --md-ref-palette-tertiary24: #4c3049;
  --md-ref-palette-tertiary25: #4e324c;
  --md-ref-palette-tertiary30: #5b3d58;
  --md-ref-palette-tertiary35: #674864;
  --md-ref-palette-tertiary40: #745470;
  --md-ref-palette-tertiary50: #8e6c8a;
  --md-ref-palette-tertiary60: #aa86a4;
  --md-ref-palette-tertiary70: #c5a0bf;
  --md-ref-palette-tertiary80: #e2bbdb;
  --md-ref-palette-tertiary87: #f7ceef;
  --md-ref-palette-tertiary90: #ffd6f7;
  --md-ref-palette-tertiary92: #ffdff8;
  --md-ref-palette-tertiary94: #ffe7f8;
  --md-ref-palette-tertiary95: #ffebf8;
  --md-ref-palette-tertiary96: #ffeff9;
  --md-ref-palette-tertiary98: #fff7fa;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0d0e11;
  --md-ref-palette-neutral5: #101114;
  --md-ref-palette-neutral6: #131316;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral12: #1f1f23;
  --md-ref-palette-neutral17: #292a2d;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral22: #343438;
  --md-ref-palette-neutral24: #39393c;
  --md-ref-palette-neutral25: #3b3b3f;
  --md-ref-palette-neutral30: #46464a;
  --md-ref-palette-neutral35: #525256;
  --md-ref-palette-neutral40: #5e5e62;
  --md-ref-palette-neutral50: #77767a;
  --md-ref-palette-neutral60: #919094;
  --md-ref-palette-neutral70: #acaaaf;
  --md-ref-palette-neutral80: #c7c6ca;
  --md-ref-palette-neutral87: #dbd9de;
  --md-ref-palette-neutral90: #e4e2e6;
  --md-ref-palette-neutral92: #eae7ec;
  --md-ref-palette-neutral94: #efedf1;
  --md-ref-palette-neutral95: #f2f0f4;
  --md-ref-palette-neutral96: #f5f3f7;
  --md-ref-palette-neutral98: #fbf8fd;
  --md-ref-palette-neutral99: #fefbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0c0e15;
  --md-ref-palette-neutral-variant5: #0f1118;
  --md-ref-palette-neutral-variant6: #11131a;
  --md-ref-palette-neutral-variant10: #191b23;
  --md-ref-palette-neutral-variant12: #1e1f27;
  --md-ref-palette-neutral-variant17: #282a31;
  --md-ref-palette-neutral-variant20: #2e3038;
  --md-ref-palette-neutral-variant22: #33343c;
  --md-ref-palette-neutral-variant24: #373941;
  --md-ref-palette-neutral-variant25: #393b43;
  --md-ref-palette-neutral-variant30: #45464f;
  --md-ref-palette-neutral-variant35: #51525b;
  --md-ref-palette-neutral-variant40: #5d5e67;
  --md-ref-palette-neutral-variant50: #757680;
  --md-ref-palette-neutral-variant60: #8f909a;
  --md-ref-palette-neutral-variant70: #aaaab4;
  --md-ref-palette-neutral-variant80: #c6c6d0;
  --md-ref-palette-neutral-variant87: #d9d9e3;
  --md-ref-palette-neutral-variant90: #e2e1ec;
  --md-ref-palette-neutral-variant92: #e8e7f2;
  --md-ref-palette-neutral-variant94: #ededf7;
  --md-ref-palette-neutral-variant95: #f0f0fa;
  --md-ref-palette-neutral-variant96: #f3f3fd;
  --md-ref-palette-neutral-variant98: #faf8ff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}

/* Light theme. */
@mixin light {
  --md-sys-color-primary: var(--md-ref-palette-primary40);
  --md-sys-color-on-primary: var(--md-ref-palette-primary100);
  --md-sys-color-primary-container: var(--md-ref-palette-primary90);
  --md-sys-color-on-primary-container: var(--md-ref-palette-primary10);
  --md-sys-color-secondary: var(--md-ref-palette-secondary40);
  --md-sys-color-on-secondary: var(--md-ref-palette-secondary100);
  --md-sys-color-secondary-container: var(--md-ref-palette-secondary90);
  --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary10);
  --md-sys-color-tertiary: var(--md-ref-palette-tertiary40);
  --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary100);
  --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary90);
  --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary10);
  --md-sys-color-error: var(--md-ref-palette-error40);
  --md-sys-color-on-error: var(--md-ref-palette-error100);
  --md-sys-color-error-container: var(--md-ref-palette-error90);
  --md-sys-color-on-error-container: var(--md-ref-palette-error10);
  --md-sys-color-surface: var(--md-ref-palette-neutral99);
  --md-sys-color-on-surface: var(--md-ref-palette-neutral10);
  --md-sys-color-surface-variant: var(--md-ref-palette-neutral-variant96);
  --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant30);
  /* Used for md-filled-text-field container color */
  --md-sys-color-surface-container-highest: var(--md-ref-palette-neutral96);
  --md-sys-color-surface-container-high: var(--md-ref-palette-neutral98);
  --md-sys-color-surface-container: var(--md-ref-palette-neutral96);
  --md-sys-color-surface-container-low: var(--md-ref-palette-neutral92);
  --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral90);
  --md-sys-color-outline: var(--md-ref-palette-neutral-variant60);
  --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral95);
  --md-sys-color-inverse-surface: var(--md-ref-palette-neutral20);
  --md-sys-color-inverse-primary: var(--md-ref-palette-primary80);
  --md-sys-color-shadow: var(--md-ref-palette-neutral0);
  --md-sys-color-surface-tint: var(--md-ref-palette-primary40);
  --md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant90);
  --md-sys-color-scrim: var(--md-ref-palette-neutral0);
  --md-sys-color-surface-bright: var(--md-ref-palette-neutral98);

  // custom variables
  --md-sys-color-primary-container-low: var(--md-ref-palette-primary95);
  --md-sys-color-secondary-container-low: var(--md-ref-palette-secondary94);
  --md-sys-color-secondary-container-high: var(--md-ref-palette-secondary80);
  --md-sys-color-outline-variant-high: var(--md-ref-palette-neutral-variant90);
  --md-sys-color-box-shadow-3:
    0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

/* Dark theme. */
@mixin dark {
  --md-sys-color-primary: var(--md-ref-palette-primary80);
  --md-sys-color-on-primary: var(--md-ref-palette-primary20);
  --md-sys-color-primary-container: var(--md-ref-palette-primary30);
  --md-sys-color-on-primary-container: var(--md-ref-palette-primary90);
  --md-sys-color-secondary: var(--md-ref-palette-secondary80);
  --md-sys-color-on-secondary: var(--md-ref-palette-secondary20);
  --md-sys-color-secondary-container: var(--md-ref-palette-secondary30);
  --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary90);
  --md-sys-color-tertiary: var(--md-ref-palette-tertiary80);
  --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary20);
  --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary30);
  --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary90);
  --md-sys-color-error: var(--md-ref-palette-error80);
  --md-sys-color-on-error: var(--md-ref-palette-error20);
  --md-sys-color-error-container: var(--md-ref-palette-error30);
  --md-sys-color-on-error-container: var(--md-ref-palette-error90);
  --md-sys-color-surface: var(--md-ref-palette-neutral10);
  --md-sys-color-on-surface: var(--md-ref-palette-neutral90);
  --md-sys-color-surface-variant: var(--md-ref-palette-neutral-variant20);
  --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant80);
  --md-sys-color-surface-container-highest: var(--md-ref-palette-neutral22);
  --md-sys-color-surface-container-high: var(--md-ref-palette-neutral17);
  --md-sys-color-surface-container: var(--md-ref-palette-neutral12);
  --md-sys-color-surface-container-low: var(--md-ref-palette-neutral10);
  --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral6);
  --md-sys-color-outline: var(--md-ref-palette-neutral-variant60);
  --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral10);
  --md-sys-color-inverse-surface: var(--md-ref-palette-neutral90);
  --md-sys-color-inverse-primary: var(--md-ref-palette-primary40);
  --md-sys-color-shadow: var(--md-ref-palette-neutral0);
  --md-sys-color-surface-tint: var(--md-ref-palette-priamry80);
  --md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant30);
  --md-sys-color-scrim: var(--md-ref-palette-neutral0);
  --md-sys-color-surface-bright: var(--md-ref-palette-neutral25);

  // custom variables
  --md-sys-color-primary-container-low: var(--md-ref-palette-primary40);
  --md-sys-color-secondary-container-low: var(--md-ref-palette-secondary40);
  --md-sys-color-secondary-container-high: var(--md-ref-palette-secondary20);
  --md-sys-color-outline-variant-high: var(--md-ref-palette-neutral-variant25);
  --md-sys-color-box-shadow-3:
    0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);

  // scrollbar
  scrollbar-color: #777 #333;
}
