@use './typescale.scss';
@use './colors.scss';

/**
 * Common mixins to be used across app.
 * Note: Typescale, color mixins are defined in their own files.
 */

* {
  box-sizing: border-box;
}

/** Default component mixin. */
@mixin default {
  @include typescale.body-small;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;

  a {
    color: var(--md-sys-color-primary);
  }

  p {
    margin: 0;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin full-percentage {
  width: 100%;
  height: 100%;
}

@mixin number-input {
  @include flex-column;
  gap: $spacing-small;

  label {
    @include typescale.label-small;
  }

  input {
    @include typescale.body-small;
    background: none;
    border: 1px solid var(--md-sys-color-outline);
    border-radius: $spacing-medium;
    color: var(--md-sys-color-on-surface);
    padding: $spacing-small;

    &:focus,
    &:hover {
      outline: none;
    }
    &:disabled {
      border-color: var(--md-sys-color-outline-variant);
    }
  }
}

@mixin select {
  @include typescale.body-small;
  background: var(--md-sys-color-surface);
  border: 1px solid var(--md-sys-color-outline);
  border-radius: $spacing-small;
  color: var(--md-sys-color-on-surface);
  height: max-content;
  outline: none;
  padding: $spacing-small;
  width: max-content;
}

@mixin chip {
  background: var(--md-sys-color-surface-container);
  border-radius: $spacing-medium;
  color: var(--md-sys-color-on-surface);
  flex-shrink: 0;
  height: max-content;
  padding: $spacing-xs $spacing-small;

  &.primary {
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
  }

  &.secondary {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }

  &.tertiary {
    background: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
  }

  &.error {
    background: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
  }

  &.success {
    background: var(--md-sys-color-success);
    color: #222; // TODO: Add on-success color
  }

  &.progress {
    background: var(--md-sys-color-progress);
    color: #222; // TODO: Add on-progress color
  }
}

@mixin mode-tag {
  @include typescale.label-small;
  border: 1px solid var(--md-sys-color-tertiary);
  border-radius: $spacing-small;
  color: var(--md-sys-color-tertiary);
  margin-left: $spacing-medium;
  padding: $spacing-xs;
  text-transform: uppercase;
  width: max-content;
}

@mixin table {
  @include flex-column;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: $spacing-medium;
  overflow: hidden;

  .table-head {
    background: var(--md-sys-color-secondary-container);
    border-bottom: 1px solid var(--md-sys-color-outline);
  }

  .table-foot {
    border-top: 1px solid var(--md-sys-color-outline);
  }

  .table-row {
    @include flex-row;

    &:nth-of-type(2n) {
      background: var(--md-sys-color-surface-variant);
    }
  }

  .table-cell {
    @include flex-row-align-center;
    border-right: 1px solid var(--md-sys-color-outline);
    gap: $spacing-small;
    padding: $spacing-small $spacing-medium;
    width: 100%;
    word-break: break-all;

    &:last-of-type {
      border-right: none;
    }
  }

  .number-row {
    flex: 0 0 30px;
  }

  .rank-row {
    flex: 0 0 100px;
  }
}

@mixin overlay {
  @include flex-row-align-center;
  background-color: rgba(0, 0, 0, 0.75);
  inset: 0;
  justify-content: center;
  padding: calc($main-content-padding * 2);
  position: absolute;
  z-index: 20; // above app header
}

@mixin dialog {
  @include flex-column;
  background: var(--md-sys-color-surface);
  border: 2px solid var(--md-sys-color-outline);
  border-radius: $spacing-medium;
  box-shadow: var(--md-sys-color-box-shadow-3);
  color: var(--md-sys-color-on-surface);
  max-height: 100%;
  max-width: 100%;
}

@mixin info-card {
  @include flex-column;
  background: var(--md-sys-color-surface);
  border-radius: $spacing-large;
  color: var(--md-sys-color-on-surface);
  gap: $spacing-medium;
  padding: $spacing-large;
  width: 300px;

  .progress-bar {
    @include progress-bar;
  }
}

@mixin progress-bar {
  @include flex-row;
  background: var(--md-sys-color-outline-variant);
  border-radius: $spacing-large;
  height: $spacing-small;
  overflow: hidden;

  .progress {
    border-radius: 0;

    &.in-progress {
      background: var(--md-sys-color-progress);
    }

    &.timeout {
      background: var(--md-sys-color-error);
      width: 100%;
    }

    &.completed {
      background: var(--md-sys-color-success);
      width: 100%;
    }
  }
}

@mixin nav-item {
  align-items: center;
  border-radius: 100px;
  color: var(--md-sys-color-on-secondary-container);
  display: flex;
  gap: 10px;
  padding: $spacing-large;
  width: 100%;

  &:focus,
  &:hover {
    background: var(--md-sys-color-secondary-container-low);
    cursor: pointer;
  }

  &.selected {
    background: var(--md-sys-color-secondary-container);
  }

  .icon {
    --pr-icon-color: var(--md-sys-color-on-secondary-container);
  }
}

@mixin html-preview {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  h1 {
    @include typescale.title-large;
  }
  h2 {
    @include typescale.title-medium;
  }
  h3 {
    @include typescale.title-small;
  }
  h4 {
    @include typescale.body-small;
    font-weight: 500;
  }
  h5 {
    @include typescale.label-small;
    font-weight: 400;
  }
  h6 {
    @include typescale.label-small;
    text-transform: uppercase;
  }
  a {
    color: var(--md-sys-color-primary);
  }
}

@mixin viewport-medium {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin viewport-small {
  @media screen and (max-width: 720px) {
    @content;
  }
}

@mixin viewport-xsmall {
  @media screen and (max-width: 440px) {
    @content;
  }
}

/** Constants. */
$spacing-xs: 2px;
$spacing-small: 4px;
$spacing-medium: 8px;
$spacing-large: 12px;
$spacing-xl: 16px;
$spacing-xxl: 24px;

$header-height: 48px;
$footer-height: 48px;
$info-content-max-width: 800px;
$login-content-max-width: 1200px;
$main-content-max-width: 1500px;
$main-content-padding: $spacing-xl;
$sidenav-header-height: 40px;
$sidenav-padding: $spacing-large;
$sidenav-width: 300px;
$sidenav-closed-width: 54px;
$panel-width: 240px;
