<div class="toolbar" role="banner">
  <span class="title">LLMM Platform</span>
  <div class="spacer"></div>
  @if (firebase.user(); as user) {
    <div>
      <img class="profileImg" [src]="user.photoURL" alt="profile picture" />
    </div>
  } @else {
    <button class="google-login-button" (click)="loginWithGoogle()">
      <!--<img src="assets/google_logo.svg" alt="Google logo" class="google-logo" />-->
      <img
        src="https://raw.githubusercontent.com/PAIR-code/llm-mediation-experiments/d4d8bd92b72fbf46a0515dc932d61fc4853cd3a6/webapp/src/assets/google_logo.svg"
        alt="Google logo"
        class="google-logo"
      />
      Sign in with Google
    </button>
  }
  <a class="small-logo" aria-label="PAIR" href="https://pair.withgoogle.com/" title="Home">
    <!--<img src="/assets/pair-logo.svg" alt="PAIR logo" />-->
    <img
      src="https://raw.githubusercontent.com/PAIR-code/llm-mediation-experiments/d4d8bd92b72fbf46a0515dc932d61fc4853cd3a6/webapp/src/assets/pair-logo.svg"
      alt="PAIR logo"
    />
  </a>
</div>

<div class="content" role="main">
  @if (error) {
    <div class="error">{{ error }}</div>
  }

  <mat-card>
    <mat-card-content>
      @if (!authenticated()) {
        <form (ngSubmit)="loginAsParticipant()">
          <p>To join an experiment, enter your access code:</p>
          <mat-form-field class="full-width">
            <mat-label>Access code</mat-label>
            <input
              matInput
              #accessCodeInput
              placeholder="Write your response"
              [formControl]="login"
            />
          </mat-form-field>
          <br />
          <button color="primary" type="submit" mat-button [disabled]="!login.valid">
            <span>Join the experiment</span>
          </button>
        </form>
      } @else {
        <p>Your Google account is not linked to an experimenter or a participant.</p>
        <button (click)="logout()">Logout</button>
      }
    </mat-card-content>
  </mat-card>
</div>
