@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xl;
  height: 100%;
}

.description {
  @include typescale.title-small;
  color: var(--md-sys-color-secondary);
  padding-bottom: common.$spacing-medium;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.stages-wrapper {
  @include common.flex-column;
  gap: common.$spacing-xxl;
}
