@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
}

.participant-summary {
  @include typescale.label-medium;
  @include common.flex-row-align-center;
  border-top: 1px solid var(--md-sys-color-outline-variant-high);
  cursor: pointer;
  justify-content: space-between;
  padding: common.$spacing-xs common.$spacing-large;

  &:focus,
  &:hover {
    background: var(--md-sys-color-surface-container-highest);
  }

  &.selected {
    background: var(--md-sys-color-surface-container);
  }

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}

.buttons {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
}

.chip {
  @include typescale.label-small;
  @include common.chip;
  border-radius: common.$spacing-small;
}