@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-large;
  height: 100%;
  width: 100%;
}

.description {
  @include typescale.title-small;
  color: var(--md-sys-color-secondary);
  padding-bottom: common.$spacing-medium;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  width: 70%;
}

.info-block {
  @include common.flex-column;
  gap: common.$spacing-large;
  padding-bottom: common.$spacing-large;
  width: 70%;
}

.html-wrapper {
  @include common.flex-column;
  @include typescale.body-small;
  @include common.html-preview;
  flex-grow: 1;
  gap: common.$spacing-xl;
}