<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="main">
  <form [formGroup]="votesForm">
    @for (user of participantService.otherParticipants(); track user.publicId) {
      <label [id]="user.publicId">{{ user.name }} ({{ user.pronouns }}):</label>
      <mat-radio-group class="vote-radio-group" [formControl]="controls[user.publicId]">
        <mat-radio-button class="vote-radio-button" [value]="Vote.Positive">
          {{ Vote.Positive }}
        </mat-radio-button>
        <mat-radio-button class="vote-radio-button" [value]="Vote.Neutral">
          {{ Vote.Neutral }}
        </mat-radio-button>
        <mat-radio-button class="vote-radio-button" [value]="Vote.Negative">
          {{ Vote.Negative }}
        </mat-radio-button>

        <button
          mat-button
          class="vote-clear-button"
          color="accent"
          (click)="resetVote(user.publicId)"
        >
          Clear
        </button>
      </mat-radio-group>
      <br />
    }
  </form>
  <button color="primary" [disabled]="!votesForm.valid" (click)="nextStep()" mat-button>
    Next step
  </button>
</div>
