@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  gap: common.$spacing-medium;
  width: 100%;
}

.action-buttons {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
}

.api-key-manager {
  @include common.flex-column;
  gap: common.$spacing-medium;
}

.banner {
  @include common.chip;
  @include common.flex-column;
  gap: common.$spacing-medium;
  padding: common.$spacing-medium;

  &.error {
    @include typescale.body-medium;
    background: transparent;
    border: 1px solid var(--md-sys-color-error);
    color: var(--md-sys-color-error);
  }

  &.success {
    background: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);

    strong,
    p {
      @include typescale.body-medium;
    }
  }
}

.banner-header {
  @include common.flex-row-align-center;
  @include typescale.title-small;
  gap: common.$spacing-small;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.empty-message {
  @include typescale.body-medium;
  color: var(--md-sys-color-outline);
  font-style: italic;
  padding: common.$spacing-medium;
}

.key-display {
  @include common.flex-row-align-center;
  background-color: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-small;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  padding: common.$spacing-medium;

  code {
    @include typescale.label-large;
    color: var(--md-sys-color-on-surface-variant);
    flex: 1;
    font-family: monospace;
    min-width: 200px;
    word-break: break-all;
  }
}

.key-info {
  @include common.flex-column;
  flex: 1;
  gap: common.$spacing-small;
}

.key-item {
  @include common.flex-row;
  align-items: center;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  justify-content: space-between;
  padding: common.$spacing-medium;
}

.list {
  @include common.flex-column;
}

.section {
  @include common.flex-column;
  gap: common.$spacing-medium;
}

.subtitle {
  @include typescale.body-small;
  color: var(--md-sys-color-outline);

  div {
    margin: 0;
  }
}

.title {
  @include typescale.title-medium;
  color: var(--md-sys-color-on-surface);
  font-weight: 600;
}
