@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  @include common.full-percentage;
}

h2 {
  @include typescale.title-medium;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--md-sys-color-primary);
}

.section {
  @include common.flex-column;
  border-bottom: 2px solid var(--md-sys-color-outline-variant);
  gap: common.$spacing-large;
  padding: common.$main-content-padding;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: calc(2 * common.$spacing-xxl);
  }
}

.action-buttons {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-xl;
}
