@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xl;
  height: 100%;
}

h2 {
  @include typescale.title-medium;
  margin: 0;
}

h3 {
  @include typescale.title-small;
  margin: 0;
}

.description {
  @include typescale.title-small;
  color: var(--md-sys-color-secondary);
  padding-bottom: common.$spacing-medium;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.stages-wrapper {
  @include common.flex-column;
  gap: common.$spacing-xl;
}

.scoring-bundle {
  @include common.flex-column;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  gap: common.$spacing-large;
  padding: common.$spacing-large;
}

.scoring-item {
  @include common.flex-column;
  border-left: 2px solid var(--md-sys-color-secondary);
  gap: common.$spacing-large;
  padding: 0 common.$spacing-large;
}

.answer-item {
  @include common.flex-column;
  gap: common.$spacing-small;
}

.result {
  margin-left: common.$spacing-medium;
}

.amount-wrapper {
  @include common.flex-row-align-center;
  flex-wrap: wrap;
  gap: common.$spacing-small;
  padding: common.$spacing-medium;
}

.chip {
  background: var(--md-sys-color-primary-container);
  border-radius: common.$spacing-small;
  color: var(--md-sys-color-on-primary-container);
  padding: common.$spacing-small common.$spacing-medium;
  width: max-content;

  &.secondary {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }

  &.tertiary {
    background: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
  }

  &.error {
    background: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
  }
}

.primary {
  color: var(--md-sys-color-primary);
}