@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  border: 2px solid var(--md-sys-color-outline);
  border-radius: common.$spacing-medium;
  cursor: pointer;
  gap: common.$spacing-medium;
  padding: common.$spacing-large;
  width: 240px;
  word-break: break-all;
}

.header {
  @include common.flex-row;
  gap: common.$spacing-medium;
  justify-content: space-between;
}

.title {
  @include typescale.title-medium;
  word-break: break-all;
}

.description {
  @include typescale.body-small;
  color: var(--md-sys-color-outline);
  text-decoration: italic;
  word-break: break-all;
}

.footer {
  @include typescale.label-small;
  @include common.flex-row;
  color: var(--md-sys-color-outline);
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: auto;
  word-break: break-all;
}