@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: common.$spacing-medium;
  cursor: pointer;
  gap: common.$spacing-medium;
  padding: common.$spacing-large;
  width: 300px;
  word-break: break-word;

  @include common.viewport-small {
    width: 100%;
  }
}

.header {
  @include common.flex-row;
  align-items: start;
  gap: common.$spacing-medium;
  justify-content: space-between;

  .right {
    @include common.flex-row-align-center;
    flex-shrink: 0;
    gap: common.$spacing-medium;
  }
}

.title {
  @include typescale.title-medium;
}

.chip {
  @include typescale.label-small;
  @include common.chip;
}

.description {
  @include typescale.body-small;
  color: var(--md-sys-color-outline);
  text-decoration: italic;
}

.footer {
  @include typescale.label-small;
  @include common.flex-row;
  color: var(--md-sys-color-outline);
  gap: common.$spacing-medium;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: auto;
  word-break: break-all;
}
