@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  align-items: center;
  width: 100%;
}

$gallery-width: 956px; // 3 gallery cards including gap

.gallery-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-large;
  max-width: $gallery-width;
  padding: common.$main-content-padding;
  width: 100%;
}

.gallery-tabs {
  @include common.flex-row;
  align-items: center;
  max-width: $gallery-width;
  padding: common.$main-content-padding;
  padding-bottom: 0;
  position: sticky;
  top: common.$header-height;
  width: 100%;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  width: 100%;
}

.gallery-header {
  @include common.flex-row-align-center;
  color: var(--md-sys-color-secondary);
  justify-content: space-between;
  max-width: $gallery-width;
  padding: common.$spacing-large common.$spacing-large 0;
  width: 100%;
}

.gallery-tab {
  @include typescale.label-medium;
  @include common.flex-row;
  align-items: center;
  border: 1px solid var(--md-sys-color-outline-variant);
  color: var(--md-sys-color-outline);
  height: 100%;
  padding: common.$spacing-small common.$spacing-large;

  &:first-of-type {
    border-radius: common.$spacing-medium 0 0 common.$spacing-medium;
  }

  &:last-of-type {
    border-radius: 0 common.$spacing-medium common.$spacing-medium 0;
  }

  &:focus,
  &:hover {
    color: var(--md-sys-color-secondary);
    cursor: pointer;
  }

  &.active {
    background: var(--md-sys-color-secondary-container);
    border-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }
}

gallery-card {
  &:focus,
  &:hover {
    border: 1px solid var(--md-sys-color-secondary);
  }
}

.gallery-link {
  text-decoration: none;
  color: inherit;
}

.banner {
  @include typescale.body-small;
  background: var(--md-sys-color-tertiary-container);
  border-radius: common.$spacing-medium;
  color: var(--md-sys-color-on-tertiary-container);
  padding: common.$spacing-large;
  width: 100%;
}

.empty-message {
  color: var(--md-sys-color-outline);
  font-style: italic;
  text-align: center;
  width: 100%;
}

h1 {
  @include typescale.title-medium;
}

.quick-start-wrapper {
  @include common.flex-column-align-center;
  background: var(--md-sys-color-surface-variant);
  padding: common.$main-content-padding 0;
  width: 100%;
}

.quick-start-card {
  @include common.flex-column-align-center;
  background: var(--md-sys-color-secondary-container);
  border: 2px solid transparent;
  border-radius: common.$spacing-medium;
  color: var(--md-sys-color-on-secondary-container);
  cursor: pointer;
  gap: common.$spacing-medium;
  justify-content: center;
  min-height: 120px;
  text-align: center;
  padding: common.$spacing-medium;
  width: 150px;

  &.blank {
    background: none;
    border-color: var(--md-sys-color-outline);
    border-style: dashed;
  }

  &:focus,
  &:hover,
  &:focus.blank,
  &:hover.blank {
    border-color: var(--md-sys-color-secondary);
  }
}

.gallery-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $gallery-width;
  padding: 0 common.$spacing-xxl;
  box-sizing: border-box;
}

.controls {
  margin-top: common.$spacing-large;
  display: flex;
  align-items: center;
  gap: common.$spacing-medium;
}

/* Smooth fade when refreshing */
.gallery-wrapper {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 150ms ease,
    visibility 150ms ease;
}

.gallery-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// Sort
.menu-wrapper {
  @include typescale.label-small;
  @include common.flex-column;
  gap: common.$spacing-small;
  overflow: auto;
}

.menu-item {
  @include common.nav-item;
  display: flex;
  min-width: 140px;
  justify-content: space-between; /* pushes checkmark to right */
  align-items: center;
  gap: common.$spacing-small;
}

.menu-item .checkmark {
  opacity: 0.9;
}

// Search
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: common.$spacing-medium;
  padding: 0 common.$spacing-medium 0 28px; /* space for icon */
  background: var(--md-sys-color-surface);
  cursor: text;
  transition:
    background 120ms ease,
    border-color 120ms ease;

  &:hover {
    background: var(--md-sys-color-surface-variant);
  }

  &:focus-within {
    border-color: var(--md-sys-color-secondary);
    background: var(--md-sys-color-surface);
  }
}

/* This is needed to render the search icon as part of the
 * text area wrapper. */
.search-container pr-icon {
  position: absolute;
  left: common.$spacing-medium;
  pointer-events: none;
}

.search-container pr-icon.clear-button {
  right: common.$spacing-medium;
  left: auto;
  pointer-events: auto;
  cursor: pointer;
  color: var(--md-sys-color-outline);
  transition: color 120ms ease;

  &:hover {
    color: var(--md-sys-color-secondary);
  }
}

.search-container pr-textarea {
  width: 140px;
  margin: 0;
}
