@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  align-items: center;
  width: 100%;
}

.gallery-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-large;
  max-width: 924px; // 3 gallery cards including gap
  width: 100%;
}

.gallery-tabs {
  @include common.flex-row;
  align-items: center;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  padding: 0 common.$main-content-padding;
  position: sticky;
  top: common.$header-height;
  width: 100%;
}

.gallery-tab {
  @include common.flex-row;
  align-items: center;
  border-bottom: 2px solid transparent;
  color: var(--md-sys-color-outline);
  height: common.$header-height;
  padding: 0 common.$spacing-large;

  &:focus,
  &:hover {
    cursor: pointer;
    color: var(--md-sys-color-on-surface);
  }

  &.active {
    color: var(--md-sys-color-tertiary);
    border-color: var(--md-sys-color-tertiary);
  }
}

gallery-card {
  &:focus,
  &:hover {
    border: 2px solid var(--md-sys-color-primary);
  }
}

.banner {
  background: var(--md-sys-color-tertiary-container);
  border-radius: common.$spacing-medium;
  color: var(--md-sys-color-on-tertiary-container);
  padding: common.$spacing-large;
  width: 100%;
}

.empty-message {
  color: var(--md-sys-color-outline);
  font-style: italic;
  text-align: center;
  width: 100%;
}

h1 {
  @include typescale.title-medium;
}
