@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-large;
  overflow: auto;
}

.code-container {
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  max-height: 100px;
  overflow: auto;
  padding: common.$spacing-xl;
}