@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-row;
  flex-grow: 1;
  width: 100%;
}

.participant-previewer {
  @include common.flex-column;
  flex-grow: 1;
  max-height: calc(100vh - common.$header-height);
  overflow: auto;

  &.full-view {
    max-height: 100vh;
  }
}

.header {
  @include common.flex-row-align-center;
  @include typescale.title-large;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  height: common.$header-height;
  justify-content: space-between;
  padding: 0 common.$main-content-padding;
}

.content {
  @include common.flex-column;
  flex-grow: 1;
  overflow: auto;
  padding: common.$main-content-padding;
}
