@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  flex-shrink: 0;
}

.nav {
  @include common.flex-column;
  border-right: 1px solid var(--md-sys-color-outline-variant);
  flex-grow: 1;
  max-height: calc(100vh - common.$header-height);
  overflow: auto;
  width: common.$sidenav-width;

  &.full-view {
    max-height: 100vh;
  }
}

.title {
  @include common.flex-row-align-center;
  @include typescale.label-large;
  box-sizing: border-box;
  cursor: pointer;
  gap: common.$spacing-medium;
  flex-shrink: 0;
  height: common.$header-height;
  padding: 0 calc(common.$sidenav-padding * 2);
}

.stages {
  @include common.flex-column;
  gap: common.$spacing-small;
  padding: 0 common.$sidenav-padding;
}

.nav-item-wrapper {
  @include common.flex-row;
  gap: common.$spacing-small;
}

.nav-item {
  @include common.nav-item;
  border-radius: common.$spacing-medium;

  &.experimenter-only {
    opacity: 0.25;
  }
}

.primary {
  @include typescale.label-medium;
  color: var(--md-sys-color-primary);
}

.chip {
  @include common.chip;
  @include typescale.label-small;
  border-radius: common.$spacing-small;
}

@include common.viewport-small {
  :host {
    width: 0;
    min-width: 0;
    flex-basis: 0;
    overflow: hidden;
  }
  .nav {
    width: 0;
    min-width: 0;
    flex-basis: 0;
    overflow: hidden;
    border-right: none;
    padding: 0;
  }
  .title,
  .stages,
  .nav-item-wrapper,
  .nav-item,
  .primary,
  .chip {
    display: none;
  }
}
