$toolbar-height: 60px;

.toolbar {
  display: flex;
  align-items: center;
  background-color: rgb(33, 33, 33);
  color: white;
  font-weight: 600;

  /* Fixed top toolbar */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $toolbar-height;
  z-index: 1000; /* Ensure the toolbar is above other content */

  img {
    margin: 0 16px;
  }
}

.small-logo {
  width: 100px;
}

.spacer {
  flex: 1;
}

.page {
  margin: 20px;
}

.title {
  font-weight: 400;
}

.current-user {
  margin: 0px 15px;
  font-weight: 300;
  color: #ccc;
}

.content {
  position: relative;
  top: $toolbar-height;

  // Content display
  display: flex;
  height: calc(100vh - $toolbar-height); // Full height minus toolbar height
  overflow: hidden; // Prevent scrolling on the .content itself

  .highlighted {
    background-color: #ddd;
  }

  .active {
    color: #d00;
  }

  .menu-item-inner {
    display: flex;
    align-items: center;

    .ongoing-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 8px;
      border-radius: 5px;
      background-color: orange;
      padding: 1px 4px;
      line-height: 1.1rem;
      color: #fff;
      font-size: 12px;
      opacity: 1;
    }

    .icon {
      margin-left: 6px;

      &.completed {
        color: rgb(1, 133, 1);
      }
    }
  }
}

.content .mat-drawer-container {
  min-height: calc(100vh - $toolbar-height);
  min-width: 100%;
}

.menu-buttons {
  // Fixed to the top toolbar
  position: static;
  top: $toolbar-height;

  display: flex;
  flex-direction: column;
}

.icon-menu-item {
  display: flex;
  justify-content: flex-start;
  align-content: center;

  mat-icon {
    margin-right: 5px;
  }
}

.profileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.error {
  color: #f00;
  background-color: #fee;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.mat-sidenav-container {
  height: 100%;
  display: flex;
  flex: 1;
}

.sidenav {
  width: 200px; // Adjust width as necessary
  overflow: auto; // Allow the sidenav itself to scroll if needed
}

.sidenav-content {
  flex-grow: 1;
  overflow-y: auto; // Scroll vertically if needed
  overflow-x: hidden; // Prevent horizontal scrolling
}
