<div class="main" [hidden]="hidden()">
  <form [formGroup]="surveyForm">
    @for (question of stage.config().questions; track index; let index = $index) {
      @switch (question.kind) {
        @case (SurveyQuestionKind.Check) {
          <app-survey-check-question
            [question]="assertCast(question, SurveyQuestionKind.Check)"
            [questionForm]="questionControls[index]"
          />
        }
        @case (SurveyQuestionKind.Text) {
          <app-survey-text-question
            [question]="assertCast(question, SurveyQuestionKind.Text)"
            [questionForm]="questionControls[index]"
          />
        }
        @case (SurveyQuestionKind.Rating) {
          <app-survey-rating-question
            [question]="assertCast(question, SurveyQuestionKind.Rating)"
            [questionForm]="questionControls[index]"
          />
        }
        @case (SurveyQuestionKind.Scale) {
          <app-survey-scale-question
            [question]="assertCast(question, SurveyQuestionKind.Scale)"
            [questionForm]="questionControls[index]"
          />
        }
      }
    }
  </form>
  <button
    color="primary"
    [disabled]="!surveyForm.valid || submitLoading.isLoading()"
    (click)="nextStep()"
    mat-button
  >
    Next step
  </button>
</div>
