@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xxl;
}

.section {
  @include common.flex-column;
  gap: common.$spacing-large;
}

.title {
  @include typescale.label-small;
}

.description {
  color: var(--md-sys-color-outline);
  font-style: italic;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.spacer {
  height: common.$spacing-xxl;
}

pr-textarea {
  width: 100%;
}

.action-buttons {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-xl;
}

h2 {
  @include typescale.title-medium;
  margin: 0;
}

a {
  color: var(--md-sys-color-primary);
}

.action-buttons {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-xl;
}
