@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-row;
  flex-shrink: 0;
}

.panel-wrapper {
  @include common.flex-row;
  border-left: 1px solid var(--md-sys-color-outline-variant-high);
  flex-shrink: 0;
  height: calc(100vh - common.$header-height);
  width: 100%;
}

.checkbox-wrapper {
  @include common.flex-row-align-center;
  cursor: pointer;
  gap: common.$spacing-small;
  overflow-wrap: break-word;

  md-checkbox {
    flex-shrink: 0;
  }
}

.button-wrapper {
  @include common.flex-row-align-center;
  flex-shrink: 0;
  justify-content: center;
  width: calc(common.$sidenav-closed-width - common.$sidenav-padding * 2);
}

.sidebar {
  @include common.flex-column-align-center;
  border-right: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-medium;
  padding: common.$sidenav-padding;
  width: common.$sidenav-closed-width;
}

.main {
  @include common.flex-column;
  flex-grow: 1;
  overflow: auto;
}

.cohort-panel {
  @include common.flex-column;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-grow: 1;
  flex-shrink: 0;
  max-height: calc(100vh - 2 * common.$header-height);
  overflow: auto;

  .warning {
    padding: common.$spacing-large;
  }
}

.header {
  @include common.flex-row-align-center;
  @include typescale.label-small;
  color: var(--md-sys-color-outline);
  flex-shrink: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.subtitle {
  @include typescale.label-small;
  color: var(--md-sys-color-outline);
}

.top {
  @include common.flex-column;
  gap: common.$spacing-large;
  padding: common.$sidenav-padding;
}

.bottom {
  @include common.flex-column;
  gap: common.$spacing-large;
  padding: common.$sidenav-padding;
}

pr-button pr-icon {
  margin-right: common.$spacing-medium;
}

.search-results {
  @include common.flex-column;
  color: var(--md-sys-color-outline);
  gap: common.$spacing-medium;
}

.search-result {
  @include common.flex-column;
  @include typescale.label-small;
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-medium;
  gap: common.$spacing-small;
  padding: common.$spacing-medium;

  &:focus,
  &:hover {
    background: var(--md-sys-color-surface-container-high);
    cursor: pointer;
  }

  &.current {
    background: var(--md-sys-color-primary-container-low);
  }

  .title {
    @include typescale.label-medium;
    color: var(--md-sys-color-on-surface-variant);
  }
}

.agent {
  @include common.flex-column;
  gap: common.$spacing-small;
}

.debug {
  @include typescale.label-small;
  color: var(--md-sys-color-outline);
  word-break: break-all;

  &.error {
    color: var(--md-sys-color-error);
  }
}

.agent-title {
  @include typescale.title-small;
}

.prompt-box {
  @include common.flex-column;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: common.$spacing-medium;
  padding: common.$spacing-large;
}

.action-bar {
  @include common.flex-row;
  @include typescale.label-small;
  gap: common.$spacing-small;
  justify-content: space-between;
}

.checkbox-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
  overflow-wrap: break-word;

  md-checkbox {
    flex-shrink: 0;
  }
}

.wpm-box {
  @include common.number-input;
}

.banner {
  @include typescale.label-small;
  @include common.flex-column;
  gap: common.$spacing-small;
  padding: common.$spacing-medium;

  &.warning {
    background: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
  }

  p {
    margin: 0;
  }
}

.alert {
  @include common.flex-column;
  background: var(--md-sys-color-surface-variant);
  border: 2px solid var(--md-sys-color-outline-variant);
  border-radius: common.$spacing-small;

  &.new {
    border-color: var(--md-sys-color-error);
  }

  .alert-top {
    @include common.flex-column;
    border-bottom: 2px solid var(--md-sys-color-outline-variant);
    gap: common.$spacing-medium;
    padding: common.$spacing-medium;

    &.clickable {
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--md-sys-color-surface-container-high);
      }
    }
  }

  .alert-bottom {
    @include common.flex-column;
    gap: common.$spacing-medium;
    padding: common.$spacing-medium;
  }
}

.alert-header {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
  justify-content: space-between;

  .left {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}

.alert-response-options {
  @include common.flex-row-align-center;
  gap: common.$spacing-xs;
}

.alert-response-input {
  @include common.flex-row-align-center;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: common.$spacing-small;
  flex-grow: 1;
  padding: common.$spacing-small;

  pr-textarea {
    flex-grow: 1;
  }
}

.alert-content {
  @include typescale.body-medium;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  7% {
    transform: rotate(-15deg);
  }

  14% {
    transform: rotate(12deg);
  }

  21% {
    transform: rotate(-10deg);
  }

  28% {
    transform: rotate(7deg);
  }

  35% {
    transform: rotate(-4deg);
  }

  42% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.wiggle {
  animation: wiggle 2.5s ease-in-out infinite;
  display: inline-block;
  transform-origin: 50% 17%;
}

.alert-toast {
  @include common.flex-row-align-center;
  background: var(--md-sys-color-error-container);
  border-radius: common.$spacing-medium;
  bottom: common.$spacing-large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--md-sys-color-on-error-container);
  gap: common.$spacing-medium;
  padding: common.$spacing-medium;
  position: fixed;
  right: common.$spacing-large;
  z-index: 40;

  .content {
    @include common.flex-row-align-center;
    font-weight: 500;
    gap: common.$spacing-small;
  }
}
