@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

$avatar-height: 30px;
$bubble-radius: 20px;
$bubble-radius-small: common.$spacing-small;

.chat-message {
  @include common.flex-row;
  align-items: end;
  gap: common.$spacing-large;
  width: 100%;
}

.label {
  @include typescale.label-medium;
  color: var(--md-sys-color-outline);
  width: max-content;
}

.content {
  @include common.flex-column;
  gap: common.$spacing-small;
}

.chat-bubble {
  @include typescale.body-small;
  align-items: end;
  gap: common.$spacing-medium;
  padding: common.$spacing-medium common.$spacing-large;
  background: var(--md-sys-color-surface-container-low);
  border-radius: $bubble-radius $bubble-radius $bubble-radius
    $bubble-radius-small;
  color: var(--md-sys-color-on-surface-container);
}

.current-user {
  flex-direction: row-reverse;

  .content {
    align-items: end;
  }

  .chat-bubble {
    align-self: end;
    background: var(--md-sys-color-secondary-container);
    border-radius: $bubble-radius $bubble-radius $bubble-radius-small
      $bubble-radius;
    color: var(--md-sys-color-on-secondary-container);
  }
}

.discuss-message {
  @include common.flex-column-align-center;
  border-top: 1px solid var(--md-sys-color-surface);
  justify-content: center;
  margin-top: common.$spacing-large;
  padding: 0 common.$spacing-large common.$spacing-large;
}

.discuss-title {
  @include typescale.label-small;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-small;
  color: var(--md-sys-color-outline);
  padding: common.$spacing-small common.$spacing-medium;
  text-transform: uppercase;
  transform: translateY(calc(-1 * common.$spacing-large));
}

.pair {
  @include common.flex-row;
  gap: common.$spacing-large;
}

.item {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
  overflow-wrap: anywhere;
}

.img-wrapper {
  @include common.flex-row-align-center;
  aspect-ratio: 1 / 1;
  background: var(--md-sys-color-surface);
  border-radius: 100%;
  overflow: hidden;
  width: 24px;

  img {
    height: auto;
    width: 100%;
  }
}
