@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  @include common.full-percentage;
  justify-content: space-between;
}

.chat {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-xl;
  justify-content: end;
}

.chat-scroll {
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: common.$spacing-small;
  display: flex;
  flex-direction: column-reverse;
  height: calc(100vh - 320px);
  overflow: auto;
}

.chat-history {
  @include common.flex-column;
  justify-content: flex-end;
  padding: common.$spacing-xl;
}

.chat-message-wrapper {
  @include common.flex-column;
  gap: common.$spacing-xs;
  padding: common.$spacing-medium 0;
}

.input-row-wrapper {
  @include common.flex-row-align-center;
  bottom: common.$footer-height;
  gap: common.$spacing-xl;
  padding: 0 common.$spacing-large;
  position: sticky;
}

@include common.viewport-small {
  .input-row-wrapper {
    left: 0;
  }
}

.input-row {
  @include common.flex-row-align-center;
  gap: common.$spacing-xl;
  width: -webkit-fill-available;
  max-width: common.$main-content-max-width;
}

.input-wrapper {
  padding: 0 0 common.$spacing-xl;
  width: 100%;
}

.input {
  align-items: center;
  background: var(--md-sys-color-surface-bright);
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 28px;
  box-sizing: border-box;
  display: flex;
  gap: common.$spacing-small;
  padding: common.$spacing-large common.$spacing-xl common.$spacing-large
    common.$spacing-xxl;
  width: 100%;

  pr-textarea {
    flex-grow: 1;
  }
}