@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  width: 100%;
  justify-content: space-between;
}

.description {
  @include typescale.title-small;
  color: var(--md-sys-color-secondary);
  padding-bottom: common.$spacing-medium;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.chat-interface-wrapper {
  @include common.flex-row;
  gap: common.$spacing-medium;
}

.panel {
  @include common.flex-column;
  background: var(--md-sys-color-surface-container-high);
  border-radius: common.$spacing-medium;
  flex-shrink: 0;
  width: common.$panel-width;
}

.panel-item {
  @include common.flex-column;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-large;
  padding: common.$spacing-large;

  &:last-of-type {
    border: none;
  }
}

.panel-item-title {
  @include typescale.label-small;
  text-transform: uppercase;
}

.profile {
  @include common.flex-row-align-center;
  color: var(--md-sys-color-outline);
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  overflow-wrap: anywhere;
}

.pair {
  display: grid;
  gap: common.$spacing-medium;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  @include common.flex-column;
  gap: common.$spacing-medium;
  overflow-wrap: anywhere;
}

.img-wrapper {
  @include common.flex-row-align-center;
  aspect-ratio: 1 / 1;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  overflow: hidden;
  width: 80px;

  img {
    height: auto;
    width: 100%;
  }
}

.mediation-panel-wrapper {
  @include common.flex-column;
  background: var(--md-sys-color-secondary-container);
  border-radius: common.$spacing-medium;
  gap: common.$spacing-large;
  padding: common.$spacing-large;
}

.mediation-panel {
  @include common.flex-column;
  gap: common.$spacing-large;
  height: common.$chat-height;
  overflow: auto;
  padding: common.$spacing-large 0;
}

.mediation-input {
  align-items: center;
  border: 1px solid var(--md-sys-color-on-secondary-container);
  border-radius: 28px;
  box-sizing: border-box;
  display: flex;
  gap: common.$spacing-small;
  padding: common.$spacing-large common.$spacing-xl common.$spacing-large
    common.$spacing-xxl;
  width: 100%;

  pr-textarea {
    flex-grow: 1;
  }
}