@use "../../../sass/common";
@use "../../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xl;
  height: 100%;
}

.election-wrapper {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-xxl;
}

.question-header {
  @include common.flex-row-align-center;
  flex-wrap: wrap;
  gap: common.$spacing-large;

  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-small;
  }
}

.title {
  @include typescale.title-medium;
}

.subtitle {
  @include typescale.label-medium;
  color: var(--md-sys-color-outline);
}

.radio-question {
  @include common.flex-column;
  gap: common.$spacing-medium;
}

.radio-buttons-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-xxl;
}

.radio-button {
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
  min-height: calc(var(--md-sys-typescale-body-small-line-height) * 1.5);
}
