@use "../../../sass/common";
@use "../../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xl;
  height: 100%;
}

.description {
  color: --md-sys-color-primary;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

h2 {
  @include typescale.title-medium;
  margin: 0;
}

.reveal-wrapper {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-large;
}

.reveal {
  @include common.flex-row;
  gap: common.$spacing-medium;
}

.info {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
}

.title {
  @include typescale.title-medium;
}

.subtitle {
  @include typescale.label-medium;
  color: var(--md-sys-color-outline);
}
