@use './sass/colors';
@use './sass/common';
@use './sass/typescale';

* {
  @include common.default;
}

.app-wrapper {
  @include colors.global;
  @include colors.kamino-ref;
  @include typescale.app-small;

  align-items: center;
  background: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.mode--light {
  @include colors.light;
}

.mode--dark {
  @include colors.dark;
}

@media (prefers-color-scheme: dark) {
  .app-wrapper:not(.mode--light) {
    @include colors.dark;
  }
}

@media (prefers-color-scheme: light) {
  .app-wrapper:not(.mode--dark) {
    @include colors.light;
  }
}

main {
  @include common.full-percentage;
  @include common.flex-row;
}

.content-wrapper {
  @include common.flex-column;
  align-items: center;
  background: var(--md-sys-color-surface);
  flex-grow: 1;
  overflow: auto;
}

.content {
  @include common.full-percentage;
  flex-grow: 1;
  max-width: common.$main-content-max-width;
  padding: common.$main-content-padding;

  &.info {
    max-width: common.$info-content-max-width;
  }

  &.login {
    @include common.flex-column;
    overflow: auto;
    max-width: 100%;
    padding: 0;
  }
}

.participant-content-wrapper {
  @include common.flex-row;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

.participant-content {
  flex-grow: 1;
  overflow: auto;
  padding: common.$spacing-large;
}

.error-wrapper {
  @include common.flex-column-align-center;
  align-items: center;
  flex-grow: 1;
  gap: common.$spacing-medium;
  padding: common.$main-content-padding;
}

.error {
  @include common.flex-column;
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-medium;
  gap: common.$spacing-small;
  max-width: 600px;
  padding: common.$main-content-padding;
}

.action-buttons {
  @include common.flex-row;
  gap: common.$spacing-medium;
  justify-content: end;
}
