@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: common.$spacing-medium;
  gap: common.$spacing-xl;
  padding: common.$spacing-xxl;
}

.title {
  @include typescale.title-large;
}

h2 {
  @include common.flex-row-align-center;
  @include typescale.title-medium;
  color: var(--md-sys-color-primary);
  gap: common.$spacing-medium;
  margin: 0;

  &.secondary {
    color: var(--md-sys-color-secondary);
  }

  &.tertiary {
    color: var(--md-sys-color-tertiary);
  }
}

.chip {
  @include typescale.label-medium;
  background: var(--md-sys-color-primary-container);
  border-radius: common.$spacing-medium;
  color: var(--md-sys-color-on-primary-container);
  padding: common.$spacing-small common.$spacing-medium;

  &.secondary {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }

  &.tertiary {
    background: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
  }
}

p {
  @include typescale.body-medium;
  margin: 0;
}

.status {
  @include common.flex-column;
  gap: common.$spacing-xl;
  width: 100%;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.participants-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
}

.participant {
  @include common.flex-column-align-center;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  max-width: 80px;
  overflow-wrap: anywhere;
  text-align: center;
}