@use "../../sass/common";

:host {
  @include common.flex-column;
  @include common.html-preview;
  gap: common.$spacing-xl;
  height: 100%;
}

.tos-wrapper {
  @include common.flex-column;
  gap: common.$spacing-xl;
}

.ack-wrapper {
  @include common.flex-row-align-center;
  bottom: 0;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  margin-bottom: 0;
  margin-top: auto;
  padding-bottom: common.$spacing-xxl;
  position: sticky;
}