@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xxl;
}

.section {
  @include common.flex-column;
  gap: common.$spacing-large;
}

.title {
  @include typescale.title-small;
  color: var(--md-sys-color-secondary);
}

pr-textarea {
  width: 100%;
}

.checkbox-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
  overflow-wrap: break-word;

  md-checkbox {
    flex-shrink: 0;
  }
}

.number-input {
  @include common.number-input;
  width: max-content;
}

.warning{
  font-style: italic;
  color: var(--md-sys-color-secondary);
  max-width: common.$info-content-max-width;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.tab {
  margin-top: 0px;
  margin-left: calc(48px + common.$spacing-medium);
}
