@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
}

.section,
.inner-section {
  @include common.flex-column;
  gap: common.$spacing-large;
}

.tabs {
  @include common.flex-row;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  padding: 0 common.$spacing-large;
  width: 100%;
}

.tab {
  @include common.flex-row;
  align-items: center;
  border-bottom: 2px solid transparent;
  color: var(--md-sys-color-outline);
  height: common.$header-height;
  padding: 0 common.$spacing-medium;

  &:focus,
  &:hover {
    cursor: pointer;
  }

  &.active {
    border-bottom-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-tertiary);
  }
}

.inner-section {
  padding: common.$spacing-large;
}

.title {
  @include typescale.title-small;
  color: var(--md-sys-color-secondary);
}

pr-textarea,
pr-textarea-template {
  width: 100%;
}

.checkbox-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
  overflow-wrap: break-word;

  md-checkbox {
    flex-shrink: 0;
  }
}

.number-input {
  @include common.number-input;
  width: max-content;
}

.warning {
  font-style: italic;
  color: var(--md-sys-color-secondary);
  max-width: common.$info-content-max-width;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}
