@use "../../sass/colors";
@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-large;
}

.question-label {
  @include typescale.label-small;
}

.question-wrapper {
  @include common.flex-column;
  gap: common.$spacing-small;
}

.question {
  @include common.flex-column;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  gap: common.$spacing-medium;
  padding: common.$spacing-xl;
}

.description {
  color: var(--md-sys-color-outline);
  font-style: italic;
}

.notification {
  @include typescale.label-small;
  background: var(--md-sys-color-surface-container);
  border-radius: common.$spacing-medium;
  color: var(--md-sys-color-on-surface-container);
  padding: common.$spacing-small common.$spacing-medium;
}

.warning {
  @include typescale.label-small;
  background: var(--md-sys-color-error-container);
  border-radius: common.$spacing-medium;
  color: var(--md-sys-color-on-error-container);
  padding: common.$spacing-small common.$spacing-medium;
}

.header {
  @include common.flex-row;
  gap: common.$spacing-medium;
  justify-content: space-between;

  .left {
    @include common.flex-column;
    flex-grow: 1;
    gap: common.$spacing-xs;
  }

  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-small;
  }
}

.radio-question {
  @include common.flex-column;
  gap: common.$spacing-medium;
}

.radio-button {
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
  min-height: calc(var(--md-sys-typescale-body-small-line-height) * 1.5);
}

.radio-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-xl;
  max-width: 500px;
}

.checkbox-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
  overflow-wrap: break-word;

  md-checkbox {
    flex-shrink: 0;
  }
}

pr-textarea {
  flex-grow: 1;
  width: 100%;
}