@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  flex-shrink: 0;
  gap: common.$spacing-large;
  width: 240px;
}

.panel-item {
  @include common.flex-column;
  gap: common.$spacing-medium;
}

.panel-item-title {
  @include typescale.title-small;
}
.panel-item-subtitle {
  margin-top: -4px;
  font-size: 12px;
  font-style: italic;
  color: var(--md-sys-color-secondary);
}

.profile {
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
  word-break: break-all;
}

.name {
  @include typescale.body-small;
  color: var(--md-sys-color-outline);
  font-weight: 500;
}
