@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-medium;
  height: 100%;
  justify-content: end;
  width: 100%;
}

.chat-content {
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-medium;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow: auto;
}

.chat-scroll {
  display: flex;
  flex-direction: column-reverse;
}

.chat-participants-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
}

.chat-participant {
  @include common.flex-column-align-center;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  max-width: 80px;
  overflow-wrap: anywhere;
}

.chat-history {
  @include common.flex-column;
  justify-content: flex-end;
  padding: common.$spacing-xl;
}

.chat-message-wrapper {
  @include common.flex-column;
  gap: common.$spacing-xs;
  padding: common.$spacing-medium 0;
}

.input-row-wrapper {
  @include common.flex-row-align-center;
  flex-shrink: 0;
  gap: common.$spacing-medium;
  padding: 0 common.$main-content-padding;
  position: sticky;
}

.input-row {
  @include common.flex-row-align-center;
  flex-grow: 1;
  gap: common.$spacing-xl;
  width: -webkit-fill-available;
  max-width: common.$main-content-max-width;
}

stage-footer {
  background: inherit;
  border: none;
  padding: 0 common.$main-content-padding;
}

.discussion {
  @include common.flex-column-align-center;
  border-top: 1px solid var(--md-sys-color-outline-variant);
  justify-content: center;
  margin-top: common.$spacing-large;
  padding: 0 common.$spacing-large common.$spacing-large;
}

.discussion-title {
  @include typescale.label-small;
  background: var(--md-sys-color-outline-variant);
  border-radius: common.$spacing-small;
  color: var(--md-sys-color-outline);
  padding: common.$spacing-small common.$spacing-medium;
  text-transform: uppercase;
  transform: translateY(calc(-1 * common.$spacing-large));
}

.discussion-items {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-large;
}

.discussion-item {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
  overflow-wrap: anywhere;
}

.img-wrapper {
  @include common.flex-row-align-center;
  aspect-ratio: 1 / 1;
  background: var(--md-sys-color-outline-variant);
  border-radius: 100%;
  overflow: hidden;
  width: 30px;

  img {
    height: auto;
    width: 100%;
  }
}

.chat-participants-top {
  @include common.flex-column;
  gap: common.$spacing-small;
  margin-bottom: common.$spacing-large;
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-medium;
  padding: common.$spacing-medium;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.chat-participants-title {
  @include typescale.title-small;
  margin-bottom: common.$spacing-small;
}

.chat-participants-title-row {
  @include common.flex-row-align-center;
  flex-wrap: wrap;
  gap: common.$spacing-xs;
  justify-content: space-between;
}

.chat-info-message {
  @include common.flex-row;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  margin-bottom: common.$spacing-medium;
  padding: common.$spacing-medium common.$spacing-large;
  color: var(--md-sys-color-on-surface-variant);
  :host .description-wrapper {
    border-bottom: none;
  }
}

.countdown {
  @include typescale.label-medium;
  font-style: italic;
  color: var(--md-sys-color-secondary);
}

.ended {
  color: var(--md-sys-color-tertiary);
}
