@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  height: 100%;
  overflow: auto;
}

.panel-wrapper {
  @include common.flex-row;
  flex-grow: 1;
  overflow: auto;
}

.panel {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-xl;
  max-width: 50%;
  overflow: auto;
  padding: common.$main-content-padding;

  &.log {
    border-left: 1px solid var(--md-sys-color-outline-variant);
  }
}

.status {
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  padding: common.$spacing-medium;
}

.log-entry {
  @include common.flex-column;
  border-left: 2px solid var(--md-sys-color-secondary);
  padding-left: common.$spacing-large;
}

.subtitle {
  @include typescale.label-small;
  color: var(--md-sys-color-secondary);
}

.buttons {
  @include common.flex-row-align-center;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
}