@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  gap: common.$spacing-large;
}

h2 {
  @include typescale.title-medium;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.table {
  @include common.table;
}

.description {
  font-style: italic;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}


