@use '../../sass/colors';
@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  gap: common.$spacing-xxl;
}

pr-textarea,
pr-textarea-template {
  width: 100%;
}

md-outlined-text-field {
  width: 100%;
}
