@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xl;
}

h2 {
  @include typescale.title-medium;
  margin: 0;
}

h3 {
  @include typescale.title-small;
  margin: 0;
}


.reveal-wrapper {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-large;
}

.reveal {
  @include common.flex-row;
  gap: common.$spacing-medium;
  margin-left: calc(48px + common.$spacing-medium);
  color: var(--md-sys-color-tertiary);
  font-weight: bold;
}

.info {
  @include common.flex-row-align-center;
  gap: common.$spacing-small;
}

.title {
  @include typescale.title-medium;
}

.subtitle {
  @include typescale.label-medium;
  color: var(--md-sys-color-outline);
}

.participant-votes-table {
  @include common.table;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}