@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  height: 100%;
}

.reveal-wrapper {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-xl;
}