@use '../../sass/common';
@use '../../sass/typescale';

:host {
  @include common.flex-column;
  height: 100%;
  overflow: auto;
}

.panel-wrapper {
  @include common.flex-row;
  flex-grow: 1;
  overflow: auto;
}

.panel {
  @include common.flex-column;
  border-left: 1px solid var(--md-sys-color-outline-variant);
  flex-grow: 1;
  gap: common.$spacing-large;
  height: 100%;
  overflow: auto;
  padding: common.$main-content-padding;

  &:first-of-type {
    border-left: none;
    flex-grow: 0;
    flex-shrink: 0;
    width: 250px;
  }
}

.status-wrapper {
  @include common.flex-column;
  gap: common.$spacing-large;
  min-height: 100px;
}

.button-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
}

.table {
  @include common.table;
  border-radius: 0;
  flex-shrink: 0;
  overflow: hidden;
  width: max-content;

  .table-row {
    background: none;
    flex-shrink: 0;
    width: max-content;

    &:nth-of-type(2n) {
      background: none;
    }
  }

  .table-cell {
    @include typescale.body-large;
    @include common.flex-row;
    align-items: center;
    border: 1px solid var(--md-sys-color-outline);
    flex-shrink: 0;
    height: 36px;
    width: 36px;

    &.eligible {
      background: var(--md-sys-color-secondary-container);
      cursor: pointer;
    }

    &.proposed {
      background: var(--md-sys-color-tertiary-container);
    }

    &.current {
      background: var(--md-sys-color-primary-container);
    }
  }
}

.chat-scroll {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}

.chat-history {
  @include common.flex-column;
  justify-content: flex-end;
}

.input-wrapper {
  width: 100%;
}

.input {
  align-items: center;
  background: var(--md-sys-color-surface);
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: common.$spacing-xl;
  box-sizing: border-box;
  display: flex;
  gap: common.$spacing-small;
  padding: common.$spacing-large common.$spacing-xl common.$spacing-large
    common.$spacing-xxl;
  width: 100%;

  pr-textarea {
    flex-grow: 1;
  }
}
