@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xl;
  height: 100%;
}

.description {
  @include typescale.title-small;
  color: var(--md-sys-color-secondary);
  padding-bottom: common.$spacing-medium;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.questions-wrapper {
  @include common.flex-column;
  flex-grow: 1;
  gap: calc(common.$spacing-xxl * 2);
}

.question {
  @include common.flex-column;
  gap: common.$spacing-medium; 
}

.question-title {
  @include typescale.title-small;
}

.slider-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
}

.radio-question {
  @include common.flex-column;
  gap: common.$spacing-medium;
}

.radio-question-wrapper {
  @include common.flex-column;
  gap: common.$spacing-medium;

  &.las {
    @include common.flex-row;
    flex-wrap: wrap;
  }
}

.las-question {
  @include common.flex-column;
  border: 2px solid transparent;
  border-radius: common.$spacing-medium;
  cursor: pointer;
  gap: common.$spacing-large;
  padding: common.$spacing-medium;

  &.selected {
    border-color: var(--md-sys-color-secondary);
    cursor: auto;
  }

  &.disabled {
    cursor: auto;
  }

  &.selected.disabled {
    border-color: var(--md-sys-color-outline-variant);
  }
}

.img-wrapper {
  @include common.flex-row-align-center;
  aspect-ratio: 1 / 1;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  overflow: hidden;
  width: 200px;

  img {
    height: auto;
    width: 100%;
  }
}

.radio-button {
  @include common.flex-row;
  gap: common.$spacing-large;
}

.scale {
  @include common.flex-row;
  gap: common.$spacing-large;
  max-width: 500px;

  &.values {
    justify-content: space-around;
  }

  &.labels {
    @include typescale.label-small;
    justify-content: space-between;
  }
}

.scale-button {
  @include common.flex-column-align-center;
  gap: common.$spacing-small;
}

.checkbox-wrapper {
  @include common.flex-row-align-center;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
}
