@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-large;
}

h2 {
  @include typescale.title-medium;
  margin: 0;
}

.img-wrapper {
  @include common.flex-row-align-center;
  aspect-ratio: 1 / 1;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-medium;
  overflow: hidden;
  width: 100px;

  img {
    height: auto;
    width: 100%;
  }
}

.table {
  @include common.table;
}

.divider {
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}