@if (questionForm) {
  <form [formGroup]="questionForm">
    <div class="item-pair">
      <div class="title">{{ question.questionText }}</div>
      <mat-radio-group formControlName="choice" class="item-pair-displays">
        <mat-radio-button
          class="item-pair-item {{ questionForm.value['choice'] === 'item1' ? 'selected' : '' }}"
          [value]="question.item1"
        >
          <img src="{{ ITEMS[question.item1].imageUrl }}" alt="{{ ITEMS[question.item1].name }}" />
          <br />

          <span class="item-pair-item-name">{{ ITEMS[question.item1].name }}</span>
        </mat-radio-button>
        <mat-radio-button
          class="item-pair-item {{ questionForm.value['choice'] === 'item2' ? 'selected' : '' }}"
          [value]="question.item1"
        >
          <img src="{{ ITEMS[question.item2].imageUrl }}" alt="{{ ITEMS[question.item2].name }}" />
          <br />

          <span class="item-pair-item-name">{{ ITEMS[question.item2].name }}</span>
        </mat-radio-button>
      </mat-radio-group>

      @if (questionForm.value.choice !== null) {
        <div class="item-pair-confidence">
          <div class="confidence-value">
            <strong>Confidence:</strong>
            <span class="value {{ questionForm.value['confidence'] === null ? 'not-rated' : '' }}">
              {{
                questionForm.value['confidence'] !== null
                  ? questionForm.value['confidence'].toFixed(1)
                  : 'Not rated'
              }}
            </span>
          </div>
          <div class="slider-container">
            @if (
              questionForm.value['confidence'] === 0 || questionForm.value['confidence'] === null
            ) {
              <span class="slider-end-label"><b> 50/50 🤷</b></span>
            } @else {
              <span class="slider-end-label">50/50 🤷</span>
            }
            <mat-slider min="0" max="1" step="0.1" discrete>
              <input matSliderThumb formControlName="confidence" />
            </mat-slider>
            @if (questionForm.value['confidence'] === 1) {
              <span class="slider-end-label"
                >👍<b> Full <br />confidence</b></span
              >
            } @else {
              <span class="slider-end-label">👍 Full <br />confidence</span>
            }
          </div>
        </div>
      }
    </div>
  </form>
}
