@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.default;
  @include common.flex-column;
  gap: common.$spacing-large;
}

h1 {
  @include typescale.title-large;
  margin: 0;
  text-align: center;
}

h2 {
  @include typescale.title-medium;
  margin: 0;
}

.cards-wrapper {
  display: grid;
  gap: common.$spacing-large;
  grid-template-columns: repeat(2, 1fr);
}

@include common.viewport-small {
  .cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  @include common.flex-column;
  background: var(--md-sys-color-surface);
  border-radius: common.$spacing-large;
  color: var(--md-sys-color-on-surface);
  gap: common.$spacing-medium;
  min-height: 200px;
  padding: common.$spacing-large;
}