@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xl;
  height: 100%;
}

.questions-wrapper {
  @include common.flex-column;
  flex-grow: 1;
  gap: common.$spacing-xl;
}

.question {
  @include common.flex-column;
  gap: common.$spacing-large; 
}

.question-title {
  @include typescale.title-medium;
}

.slider-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
}