@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.flex-column;
  gap: common.$spacing-xl;
  height: 100%;
}

.description {
  color: var(--md-sys-color-primary);
  padding-bottom: common.$spacing-medium;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.questions-wrapper {
  @include common.flex-column;
  flex-grow: 1;
  gap: calc(common.$spacing-xxl * 2);
}

.question {
  @include common.flex-column;
  gap: common.$spacing-medium; 
}

.question-title {
  @include typescale.title-small;
}

.slider-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
}

.radio-question {
  @include common.flex-column;
  gap: common.$spacing-medium;
}

.radio-button {
  @include common.flex-row;
  gap: common.$spacing-large;
}