@use "../../sass/common";
@use "../../sass/colors";
@use "../../sass/typescale";

.attention-check-overlay {
  @include common.flex-row-align-center;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.attention-check-popup {
  @include common.flex-column;
  @include typescale.body-small;
  background: var(--md-sys-color-surface-variant);
  border-radius: common.$spacing-medium;
  box-shadow: var(--md-sys-color-box-shadow-3);
  color: var(--md-sys-color-on-surface);
  gap: common.$spacing-xxl;
  max-width: 80vw;
  padding: common.$spacing-xxl;
  width: max-content;
}

.title {
  @include common.flex-row-align-center;
  @include typescale.title-medium;
  gap: common.$spacing-medium;
}

.time {
  color: var(--md-sys-color-on-error-container);
  font-weight: bold;
}

pr-icon {
  width: min-content;
}