@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.default;
  @include common.flex-column;
  gap: common.$spacing-large;
  height: 100%;
  padding-bottom: common.$spacing-xxl;
}

h2 {
  @include typescale.body-medium;
  margin: 0;
}

code {
  color: var(--md-sys-color-outline);
  font-size: var(--md-sys-typescale-label-small-font-size);
  line-height: var(--md-sys-typescale-label-small-line-height);
  overflow-wrap: anywhere;
}

md-checkbox {
  flex-shrink: 0;
}

.error {
  color: var(--md-sys-color-error);
}

.stages-wrapper {
  @include common.flex-column;
  overflow: auto;
}

.template-item {
  @include common.flex-column;
  border: 1px solid transparent;
  border-radius: common.$spacing-medium;
  cursor: pointer;
  padding: common.$spacing-medium;

  &:focus,
  &:hover {
    border-color: var(--md-sys-color-outline-variant);
  }

  .subtitle {
    @include typescale.label-small;
    color: var(--md-sys-color-outline);
  }
}

.current-stage {
  @include common.flex-column;
  gap: common.$spacing-xxl;
  overflow: auto;
  padding: common.$sidenav-padding;
  width: 100%;
}

.stage-info {
  @include common.flex-row;
  gap: common.$spacing-medium;
}

.stage-chip {
  @include typescale.label-small;
  background: var(--md-sys-color-primary-container);
  border-radius: common.$spacing-small;
  color: var(--md-sys-color-on-secondary-container);
  height: max-content;
  padding: common.$spacing-small common.$spacing-medium;
  width: max-content;

  &.tertiary {
    background: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
  }
}

.stage-description {
  @include typescale.body-small;
  color: var(--md-sys-color-outline);
  font-style: italic;
}

.number-input {
  @include common.number-input;
}

.checkbox-input {
  @include common.flex-row-align-center;

  label {
    @include common.flex-column;
    gap: common.$spacing-small;
  }
}

.subtitle {
  font-style: italic;
}

.group-container {
  margin-left: 50px;
}

.group-container>* {
  margin-bottom: 8px;
  /* Spacing between elements. */
}

.buttons-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
  justify-content: end;
}

experiment-config-actions {
  margin-bottom: 0;
  margin-top: auto;
}