@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.default;
  @include common.flex-column;
  border-right: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  gap: common.$spacing-large;
  overflow: auto;
  width: calc(common.$sidenav-width * 1.2);
}

.nav-item {
  @include common.nav-item;
  border-radius: common.$spacing-medium;
  justify-content: space-between;

  &.main-nav {
    border-radius: 0;
  }

  .label {
    max-width: 200px;
  }

  .buttons {
    @include common.flex-row-align-center;
    gap: common.$spacing-small;
  }
}

.icon-wrapper {
  width: common.$spacing-xxl;
}