@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.default;
  @include common.flex-column;
  border-right: 1px solid var(--md-sys-color-outline-variant);
  flex-shrink: 0;
  overflow: auto;
  width: calc(common.$sidenav-width * 1.2);
}

.nav-item {
  @include common.nav-item;
  border-radius: common.$spacing-medium;
  min-height: calc(common.$spacing-xxl * 2);
  padding: common.$spacing-medium common.$spacing-large;
  justify-content: space-between;

  &.main-nav {
    border-radius: 0;
  }

  .label {
    @include common.flex-row-align-center;
    flex-wrap: wrap;
    gap: common.$spacing-small;
  }

  .buttons {
    @include common.flex-row-align-center;
    flex-shrink: 0;
    gap: common.$spacing-small;
  }
}

.icon-wrapper {
  width: common.$spacing-xxl;
}

.chip {
  @include typescale.label-small;
  @include common.chip;
}