@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.default;
  @include common.flex-column;
  gap: common.$spacing-large;
  height: 100%;
}

h2 {
  @include typescale.body-medium;
  margin: 0;
}

.error {
  color: var(--md-sys-color-error);
}

.stages-wrapper {
  @include common.flex-row;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: common.$spacing-medium;
  min-height: 400px;
  overflow: hidden;
}

.stages-nav {
  @include common.flex-column;
  min-width: common.$sidenav-width;
  height: max-content;
  max-height: 100%;
  position: sticky;
  top: 0;
}

.nav-item {
  @include common.nav-item;
  border-radius: 0;
}

.current-stage {
  @include common.flex-column;
  border-left: 1px solid var(--md-sys-color-outline);
  gap: common.$spacing-xxl;
  padding: common.$sidenav-padding;
  width: 100%;
}

.stage-info {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
}

.stage-chip {
  @include typescale.label-small;
  background: var(--md-sys-color-primary-container);
  border-radius: common.$spacing-small;
  color: var(--md-sys-color-on-secondary-container);
  height: max-content;
  padding: common.$spacing-small common.$spacing-medium;
  width: max-content;
}

.stage-description {
  @include typescale.body-small;
  color: var(--md-sys-color-outline);
  font-style: italic;
}

.number-input {
  @include common.number-input;
}

.buttons-wrapper {
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
  justify-content: end;

  &.bottom {
    margin-bottom: 0;
    margin-top: auto;
    padding-bottom: common.$spacing-xxl;
  }
}