@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.info-card;
}

.header {
  @include common.flex-row;
  gap: common.$spacing-small;
  justify-content: space-between;
}

.action-buttons {
  @include common.flex-row-align-center;
  border-top: 1px solid var(--md-sys-color-outline-variant);
  gap: common.$spacing-medium;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: auto;
  padding-top: common.$spacing-medium;

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}

h3 {
  @include typescale.title-medium;
  margin: 0;
}

p {
  margin: 0;
}

.label {
  @include typescale.label-medium;
  color: var(--md-sys-color-outline);
}

.field {
  @include common.flex-row-align-center;
  color: var(--md-sys-color-outline);
  flex-wrap: wrap;
  gap: common.$spacing-small;
}

.chip {
  @include common.chip;
  cursor: pointer;
}