@use "../../sass/common";
@use "../../sass/typescale";

:host {
  @include common.default;
  @include common.flex-column;
  gap: common.$spacing-xl;
}

.top-bar {
  @include common.flex-row-align-center;
  flex-wrap: wrap;
  gap: common.$spacing-medium;
  justify-content: space-between;

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}

.stat {
  @include typescale.body-medium;
  color: var(--md-sys-color-outline);
}

h2 {
  @include typescale.label-medium;
  color: var(--md-sys-color-secondary);
  margin: 0;
  text-transform: uppercase;
}

h3 {
  @include typescale.title-medium;
  margin: 0;
}

p {
  margin: 0;
}

.label {
  @include typescale.label-medium;
  color: var(--md-sys-color-outline);
  font-style: italic;
}

.action-buttons {
  @include common.flex-row-align-center;
  gap: common.$spacing-medium;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: auto;

  .left,
  .right {
    @include common.flex-row-align-center;
    gap: common.$spacing-medium;
  }
}

.cards-wrapper {
  @include common.flex-row;
  flex-wrap: wrap;
  gap: common.$spacing-large;
}

.card {
  @include common.info-card;
}